<html class="hb-loaded">
<head>
	<meta charset="utf-8">
    <!--/*技术支持，小庄602842076     验证：官网技术支持*/
/*技术支持，小庄602842076    验证：官网技术支持*/
/*技术支持，小庄602842076    验证：官网技术支持*/
/*技术支持，小庄602842076    验证：官网技术支持*/
/*技术支持，小庄602842076    验证：官网技术支持*/
/*https://shop116998991.taobao.com/*/
/*https://shop116998991.taobao.com/*/
/*https://shop116998991.taobao.com/*/-->
	<title>会员注册</title>
    <meta name="Keywords" content="Weding Ring钻戒价格,Weding Ring钻戒图片">
    <meta name="Description" content="Weding Ring官网会员注册登录唯一入口，Weding Ring是求婚钻戒第一品牌，想了解Weding Ring实体店、Weding Ring哪里有卖等相关Weding Ring资讯就先进入戴瑞珠宝官网注册吧！">

    <link href="/index/css/style.css" type="text/css" rel="stylesheet"/>
</head>

<body>
	<div class="wrap">
		<!-- start of 头部导航-->
    	<div class="head_top">
            <div class="head clearfix">
                <!--头部左边-->
                <div class="topLeft left">
                    <a href="/index/index/index" title="Weding Ring">
                        <img width="186" height="42" src="/index/images/logo_01.png ">
                    </a>
                    <span>求婚钻戒领导品牌</span>
                </div>
                <!--头部左边end-->
                <!--头部右边-->
                <ul class="topRight right">
                    <li>国际权威认证</li>
                    <li class="tr_2">15天无理由退换</li>
                    <li class="tr_3">终身保养</li>
                </ul>
                <!--头部左边end-->
            </div>
        </div>
        <!--end of 头部导航-->

        <!-- starto of container -->
    	<div class="container">
            <!--中间内容-->
            <div class="cmain ddd">
                <!--内容右边-->
                <div class="cort-right right">
                	<div class="r_bg"></div>
                    <!--登陆框内-->
                    <div class="cr_border">
                        <div class="tits">
                            <span class="focus ph"><em></em>手机注册</span>
                            <span class=" em"><em></em>邮箱注册</span>
                        </div>

                        <!--手机注册-->
                        <form class="form_first">
                            <input type="hidden" value="1" name="type">
                            <input type="hidden" value="login.html" name="forward">
                            <input type="hidden" value="H6mY5VyS" name="skey">
                            <div style="" class="photo_show">
                                <!--手机号-->
                                <div class="the_input">
                                    <span class="member"></span>
                                    <input type="text" placeholder="请输入手机号码" class="al_Input dr_photo" value="" name="mobile">
                                </div>
                                <!--手机号end-->

                                <!--验证码-->
                                <div style="border:none" class="the_input">
                                    <span class="password"></span>
                                    <input type="text" style="width:133px;" placeholder="请输入验证码" class="al_Input ls" value="" name="mobile_code">
                                    <input type="button" value="获取验证码" class="action mobile_action">
                                </div>
                                <!--验证码end-->

                                <!--密码-->
                                <div class="the_input ">
                                    <span class="pw"></span>
                                    <input type="password" placeholder="请输入密码" maxlength="21" class="al_Input dr_photo" value="" name="mobile_pwd">
                                </div>
                                <!--密码end-->

                                <!--确认密码-->
                                <div class="the_input ">
                                    <span class="pw"></span>
                                    <input type="password" placeholder="确认密码" maxlength="21" class="al_Input dr_photo" value="" name="mobile_pwd_confirm">
                                </div>
                                <!--确认密码end-->

                                <div class="other_input">
                                    <div class="left">
                                        <input type="checkbox" name="mobile_check" id="check" checked />
                                        <label for="check">已经仔细阅读并同意<a target="_blank" href="index.html/help_se/49.html">《Weding Ring用户注册协议》</a></label>
                                    </div>
                                </div>

                                <!--其他合作-->
                                <div class="other_hz">
                                    <input type="button" value="立即注册" id="mobile_reg" class="up">
                                </div>
                                <!--其他合作end-->
                            </div>
                        </form>
                        <!--手机注册end-->

                        <!--邮箱注册-->
                        <form class="form_second">
                            <input type="hidden" value="2" name="type">
                            <input type="hidden" value="email" name="forward">
                            <div style="display:none" class="photo_show">
                                <!--邮箱-->
                                <div class="the_input ">
                                   <span class="member"></span>
                                   <input type="text" placeholder="请输入邮箱" class="al_Input dr_photo" name="email" id="email">
                                </div>
                                <!--邮箱end-->

                                <!--密码-->
                                <div class="the_input ">
                                   <span class="pw"></span>
                                   <input type="password" placeholder="请输入密码" maxlength="21" class="al_Input dr_photo" value="" name="email_pwd">
                                </div>
                                <!--密码end-->

                                <!--确认密码-->
                                <div class="the_input ">
                                   <span class="pw"></span>
                                   <input type="password" placeholder="确认密码" maxlength="21" class="al_Input dr_photo" value="" name="email_pwd_confirm">
                                </div>
                                <!--确认密码end-->

                                <!--验证码-->
                                <div style="border:none" class="the_input">
                                    <span class="password"></span>
                                    <input type="text" style="width:135px;" placeholder="请输入验证码" class="al_Input ls" name="email_code">
                                    <div class="action_code">
                                        <img src="{:captcha_src()}" alt="captcha" class="img" onclick="this.src='{:captcha_src()}'" />
                                    </div>
                                </div>
                                <!--验证码end-->

                                <div class="other_input">
                                    <div class="left">
                                        <input type="checkbox" id="email_check" name="email_check" checked />
                                        <label for="email_check">已经仔细阅读并同意<a target="_blank" href="index.html/help_se/49.html">《Weding Ring用户注册协议》</a></label>
                                    </div>
                                </div>

                                <!--其他合作-->
                                <div class="other_hz">
                                    <input type="button" value="立即注册" id="email_reg" class="up" />
                                </div>
                                <!--其他合作end-->
                            </div>
                        </form>
                        <!--邮箱注册end-->

                        <div>
                            <span style="font-size: 12px; display: inline-block;padding-top: 10px;float:left;margin-left: 176px; ">已经有账号，
                            </span>
                            <span style="color: #8e4f1b; font-size: 12px; display: inline-block; float: right; margin-right: 42px; padding-top: 10px;">
                                <a href="/index/user/login">立即登录</a>
                            </span>
                        </div>
                    </div>
                    <!--登陆框内end-->
                </div>
                <!--内容右边end-->
            </div>
            <!--中间内容end-->
        </div>
        <!-- end of container -->

        <!--底部end-->
        <div class="cmain bc_yz">
            <div class="db_cort">
                <p>Copyright &copy; 2006-2015 www.Wedingring.com 戴瑞珠宝 All Rights Reserved. 粤ICP备11012085号</p>
                <p>中国互联网违法信息举报中心 | 中国公安网络110报警服务 | 本网站提供所售商品的正式发票</p>
            </div>
        </div>
    </div>
<script src="/index/js/jquery.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function(){
        //切换tab
        $(".tits .ph").click(function(event) {
            $(this).addClass('focus').siblings().removeClass('focus')
            $(".photo_show").eq(0).show()
            $(".photo_show").eq(1).hide()
        });

        $(".tits .em").click(function(event) {
            $(this).addClass('focus').siblings().removeClass('focus')
            $(".photo_show").eq(1).show()
            $(".photo_show").eq(0).hide()
        });

        //验证参数
        $('.up').click(function(){
            // alert($('#email').val());
            $('.ts_wrong').remove();
            $('.al_Input').removeClass('error');
            //判断是邮箱还是手机
            //邮箱注册
            if($('.em').hasClass('focus')) {
                var email = $('input[name="email"]').val();
                if(email==''){
                    // alert('message');
                    var notice = '<div class="ts_wrong"><span id="wrong">请输入邮箱！</span></div>';
                    $('input[name="email"]').parent().after(notice);
                    $('input[name="email"]').addClass('error');
                    return false;
                }

                if(!isEmail(email)){
                    var notice = '<div class="ts_wrong"><span id="wrong">邮箱格式错误 请重新输入！</span></div>';
                    $('input[name="email"]').parent().after(notice);
                    $('input[name="email"]').addClass('error');
                    return false;
                }

                var pwd = $('input[name="email_pwd"]').val();
                if(pwd == ''){
                    var notice = '<div class="ts_wrong"><span id="wrong">请输入密码！</span></div>';
                    $('input[name="email_pwd"]').parent().after(notice);
                    $('input[name="email_pwd"]').addClass('error');
                    return false;
                }

                //判断密码长度
                if(pwd.length < 6){
                    var notice = '<div class="ts_wrong"><span id="wrong">密码长度为6~21个字符！</span></div>';
                    $('input[name="email_pwd"]').parent().after(notice);
                    $('input[name="email_pwd"]').addClass('error');
                    return false;
                }

                var pwd_confirm = $('input[name="email_pwd_confirm"]').val();
                if(pwd_confirm == ''){
                    var notice = '<div class="ts_wrong"><span id="wrong">请输入确认密码！</span></div>';
                    $('input[name="email_pwd_confirm"]').parent().after(notice);
                    $('input[name="email_pwd_confirm"]').addClass('error');
                    return false;
                }

                //判断两次密码输入是否一致
                if(pwd != pwd_confirm){
                    var notice = '<div class="ts_wrong"><span id="wrong">密码与确认密码不一致 请重新输入！</span></div>';
                    $('input[name="email_pwd_confirm"]').parent().after(notice);
                    $('input[name="email_pwd_confirm"]').addClass('error');
                    return false;
                }

                //判断是否输入验证码
                var code = $('input[name="email_code"]').val();
                if(code == ''){
                    var notice = '<div class="ts_wrong"><span id="wrong">请输入验证码！</span></div>';
                    $('input[name="email_code"]').parent().after(notice);
                    $('input[name="email_code"]').addClass('error');
                    return false;
                }

                //判断是否同意用户协议
                if(!$('input[name="email_check"]').is(':checked')){
                    var notice = '<div class="ts_wrong"><span id="wrong">请阅读并同意用户注册协议！</span></div>';
                    $('input[name="email_check"]').parent().parent().after(notice);
                    return false;
                }

                // $('#mobile_reg').click(ag_Reg_click_Mobile);
                // 注册统计
                // ag_Reg_click_Email();

                //检测邮箱是否使用过
                $.ajax({
                    type: "POST",
                    url: "/index/user/emailSign",
                    data: {"email":email,"code":code,"pwd":pwd},
                    success: function(data){
                        if(data == 0){
                            var notice = '<div class="ts_wrong"><span id="wrong">该邮箱已被注册！</span></div>';
                            $('input[name="email"]').parent().after(notice);
                            $('input[name="email"]').addClass('error');
                            return false;
                        }

                        if (data == 1) {
                            // alert(data);
                            var notice = '<div class="ts_wrong"><span id="wrong">验证码错误！</span></div>';
                            $('.ts_wrong').remove();
                            $('input[name="email_code"]').parent().after(notice);
                            $('input[name="email_code"]').addClass('error');
                            return false;
                        };

                        if (data == 2) {
                            alert('恭喜您注册成功！请您及时到您的个人中心完善您的信息');
                            window.location.href = '/index/index/index';
                        };
                    }
                });
            }

            //手机注册
            if($('.ph').hasClass('focus')){
                //判断是否输入手机号
                var mobile = $('input[name="mobile"]').val();
                if(mobile == ''){
                    var notice = '<div class="ts_wrong"><span id="wrong">请输入手机号码！</span></div>';
                    $('input[name="mobile"]').parent().after(notice);
                    $('input[name="mobile"]').addClass('error');
                    return false;
                }

                //判断是否是手机号
                if(!checkMobile(mobile)){
                    var notice = '<div class="ts_wrong"><span id="wrong">手机号码格式错误 请重新输入！</span></div>';
                    $('input[name="mobile"]').parent().after(notice);
                    $('input[name="mobile"]').addClass('error');
                    return false;
                }

                //判断是否输入验证码
                var code = $('input[name="mobile_code"]').val();
                if(code == ''){
                    var notice = '<div class="ts_wrong"><span id="wrong">请输入验证码！</span></div>';
                    $('input[name="mobile_code"]').parent().after(notice);
                    $('input[name="mobile_code"]').addClass('error');
                    return false;
                }

                //判断是否输入密码
                var pwd = $('input[name="mobile_pwd"]').val();
                if(pwd == ''){
                    var notice = '<div class="ts_wrong"><span id="wrong">请输入密码！</span></div>';
                    $('input[name="mobile_pwd"]').parent().after(notice);
                    $('input[name="mobile_pwd"]').addClass('error');
                    return false;
                }

                //判断密码长度
                if(pwd.length < 6){
                    var notice = '<div class="ts_wrong"><span id="wrong">密码长度为6~21个字符！</span></div>';
                    $('input[name="mobile_pwd"]').parent().after(notice);
                    $('input[name="mobile_pwd"]').addClass('error');
                    return false;
                }

                //判断是否输入确认密码
                var pwd_confirm = $('input[name="mobile_pwd_confirm"]').val();
                if(pwd_confirm == ''){
                    var notice = '<div class="ts_wrong"><span id="wrong">请输入确认密码！</span></div>';
                    $('input[name="mobile_pwd_confirm"]').parent().after(notice);
                    $('input[name="mobile_pwd_confirm"]').addClass('error');
                    return false;
                }

                //判断两次密码输入是否一致
                if(pwd != pwd_confirm){
                    var notice = '<div class="ts_wrong"><span id="wrong">密码与确认密码不一致 请重新输入！</span></div>';
                    $('input[name="mobile_pwd_confirm"]').parent().after(notice);
                    $('input[name="mobile_pwd_confirm"]').addClass('error');
                    return false;
                }

                //判断用户是否同意用户注册协议
                if(!$('input[name="mobile_check"]').is(':checked')){
                    var notice = '<div class="ts_wrong"><span id="wrong">请阅读并同意用户注册协议！</span></div>';
                    $('input[name="mobile_check"]').parent().parent().after(notice);
                    return false;
                }

                //检测手机号码是否使用过
                $.ajax({
                    type: "POST",
                    url: "/index/user/mobileSign",
                    data: {"mobile":mobile,"code":code,"pwd":pwd},
                    success: function(msg){
                        if(msg == 0){
                            var notice = '<div class="ts_wrong"><span id="wrong">该手机号码已被注册！</span></div>';
                            $('input[name="mobile"]').parent().after(notice);
                            $('input[name="mobile"]').addClass('error');
                            return false;
                        }

                        if(msg == 1){
                            var notice = '<div class="ts_wrong"><span id="wrong">验证码错误！</span></div>';
                            $('input[name="mobile_code"]').parent().after(notice);
                             $('input[name="mobile_code"]').addClass('error');
                            return false;
                        }

                        if (msg == 2) {
                            // 手机统计
                            // ag_Reg_click_Mobile();
                            // $('.form_first').submit();
                            alert('恭喜您注册成功！请您及时到您的个人中心完善您的信息');
                            window.location.href = '/index/index/index';
                        }
                    }

                });
            }
        });

        //发送短信验证码
        var InterValObj; //timer变量，控制时间
        var count = 60; //间隔函数，1秒执行
        var curCount;//当前剩余秒数
        $('.mobile_action').click(function(){
            $('.ts_wrong').remove();
            $('.al_Input').removeClass('error');
            var mobile = $('input[name="mobile"]').val();
            if(mobile == ''){
                var notice = '<div class="ts_wrong"><span id="wrong">请输入手机号码！</span></div>';
                $('input[name="mobile"]').parent().after(notice);
                $('input[name="mobile"]').addClass('error');
                return false;
            }

            if(!checkMobile(mobile)){
                var notice = '<div class="ts_wrong"><span id="wrong">手机号码格式错误 请重新输入！</span></div>';
                $('input[name="mobile"]').parent().after(notice);
                $('input[name="mobile"]').addClass('error');
                return false;
            }

            //检测手机号码是否使用过
            var is_used = false;
            $.ajax({
                type: "POST",
                url: "/index/user/telyzm",
                data: "mobile="+mobile,
                success: function(msg){
                    if(msg == 1){
                            var notice = '<div class="ts_wrong"><span id="wrong">该手机号码已被注册！</span></div>';
                            $('input[name="mobile"]').parent().after(notice);
                            $('input[name="mobile"]').addClass('error');
                            is_used = true;
                    }else{
                        //设置button效果，开始计时
                        curCount = count;
                        //设置button效果，开始计时
                        $(".mobile_action").attr("disabled", "true");
                        $(".mobile_action").val(curCount + "秒后可重新获取验证码");
                        InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次

                        var skey = $('input[name="skey"]').val();
                        //向后台发送处理数据
                        $.ajax({
                            type: "POST", //用POST方式传输
                            url: '/sign/sendSms', //目标地址
                            data: "mobile=" + mobile +"&skey=" + skey,
                            success: function (msg){

                            }
                        });
                    }
                }
            });

            function SetRemainTime() {
                if (curCount == 0) {
                    window.clearInterval(InterValObj);//停止计时器
                    $(".mobile_action").removeAttr("disabled");//启用按钮
                    $(".mobile_action").val("获取验证码");
                    code = ""; //清除验证码。如果不清除，过时间后，输入收到的验证码依然有效
                } else {
                    curCount--;
                    $(".mobile_action").val(curCount + "秒后可重新获取验证码");
                }
            }
        });
    });

    //邮箱验证规则
    function isEmail(email) {
        var reg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
        return reg.test(email);
    }

    //手机号码验证规则
    function checkMobile(mobile) {
        var reg = /^1[34578]\d{9}$/;
        return reg.test(mobile);
    }

    // $(document).keyup(function(event){
    //     alert('message');
    //     if(event.keyCode ==13){
            // if($('.ph').hasClass('focus')){
            //     $('#mobile_reg').click(function(){
            //         location.href = '/index/user/reg';
            //     });
            // }
            // if($('.em').hasClass('focus')){
            //     $('#email_reg').click(function(){
            //         location.href = '/index/user/reg';
            //     });
            // }
        // }
        // else {

        //     $('#email_reg').click(ag_Reg_click_Email);
        // }
    // });
</script>


</body></html>