<html xmlns="http://www.w3.org/1999/xhtml" class="hb-loaded">
 <head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>
	404报错
</title>
<!--/*技术支持，小庄602842076     验证：官网技术支持*/
/*技术支持，小庄602842076    验证：官网技术支持*/
/*技术支持，小庄602842076    验证：官网技术支持*/
/*技术支持，小庄602842076    验证：官网技术支持*/
/*技术支持，小庄602842076    验证：官网技术支持*/
/*https://shop116998991.taobao.com/*/
/*https://shop116998991.taobao.com/*/
/*https://shop116998991.taobao.com/*/-->
  <link href="css/wrong.css?v=1.3.5" type="text/css" rel="stylesheet" /> 
  <script language="javascript" type="text/javascript">
        window.onload = function () {
            //            setTimeout("history.go(-1);", 5000);
            setTimeout("goUrl()", 5000);
            var i = 5;
            setInterval(function () {
                if (i > 0) {
                    i = i - 1;
                }
                document.getElementById("time").innerHTML = i;
            }, 1000);
        }

        function goUrl() {
            //var url = window.opener.location.href;
            window.location.href = "index.html";
        }
    </script> 
 </head> 
 <body> 
  <form id="form1" action="/404.html" method="post" name="form1"> 
   <div> 
    <input type="hidden" value="/wEPDwULLTIwMTg0NTQzNjFkZJ1nmDYyXZK8LnypV0CQsnhCFlZH" id="__VIEWSTATE" name="__VIEWSTATE" /> 
   </div> 
   <div> 
    <input type="hidden" value="85608617" id="__VIEWSTATEGENERATOR" name="__VIEWSTATEGENERATOR" /> 
   </div> 
   <div class="wrong_wc"> 
    <div class="wrong_two cmain"> 
     <div class="wrong_word"> 
      <h3>404 Not Found</h3> 
      <h4>这个页面一边凉快去了!</h4> 
      <p> <i id="time">0</i> <span>秒之后页面自动跳转，你还可以：</span> </p> 
      <p> <span>1）</span> <a href="index.html">返回首页</a> </p> 
      <p> <span>2）去其他地方逛逛：</span> <a href="index.htmlbrand.html">品牌文化</a> <em>|</em> <a href="index.html/darry_ring">Darry Ring求婚钻戒</a> <em>|</em> <a href="index.html/dr_phonics">对戒</a> <em>|</em> <a href="index.html/jewelry">饰品</a> </p> 
     </div> 
    </div> 
   </div> 
  </form> 
 </body>
</html>