/*会员中心的样式*/
/*我的dr首页 页面*/
table{border-collapse:collapse;empty-cells:show}
.mb_back{background:#fff;overflow:hidden;clear:both}
.member_cort{width:940px;margin:0 auto;overflow:hidden;padding-top:8px;padding-bottom:20px}
.member_cortleft-tittle{width:147px;height:36px;line-height:36px;text-align:center;border:2px solid #efefef;background:#fafafa;font-size:0;margin-bottom:9px}
.member_cortleft-tittle i{display:inline-block;background:url(../images/icon02.png) no-repeat;width:11px;height:14px;vertical-align:middle}
.member_cortleft-tittle a{font-size:14px;color:#333;font-weight:bold;vertical-align:middle;padding-left:6px}
.member_cortleft-tittle .mb_home{background-position:-3px -80px}
.member_cortleft-sptittle a{color:#c6a34d}
.member_cortleft-sptittle .mb_home{background-position:-3px -63px}
/*树形*/
.member_cort-ul{border:2px solid #efefef;border-top:none}
.member_cort-ul li{width:147px;text-align:center;background:#fff;}
.member_cort-ul h3{font-size:14px;color:#333;height:36px;line-height:36px;border:2px solid #efefef;border-left:none;border-right:none;background:#fafafa}
.member_cort-ul .member_ul-dr{width:120px;margin:0 auto}
.member_cort-ul .member_ul-dr li{width:96px;height:38px;line-height:38px;border-bottom:1px solid #efefef;text-align:left;padding-left:24px}
.member_cort-ul .member_ul-dr li a{color:#666;font-size:12px;background:url(../images/all-right.png) no-repeat left center;padding-left:10px}
.member_cort-ul .member_ul-dr li a:hover{color:#c6a34d;background:url(../images/all-right_y.png) no-repeat left center;font-weight:bold}
.member_cort-ul .member_ul-dr .no_border{border:none}
.member_cort-ul .member_ul-dr .speacil_color a{color:#c6a34d;font-weight:bold;background:url(../images/all-right_y.png) no-repeat left center}
/*右边*/
.member_cort-right{width:770px;padding-bottom:50px}
.member_cort-right h3{color:#666;font-size:14px;border-bottom:1px solid #dbdbdb;padding-bottom:10px;padding-top:4px}

/*首页右边的样式*/
/*第一小块*/
.member_cortr-first{overflow:hidden;margin-bottom:22px}
.mb_theleft span{font-size:14px;color:#333;font-weight:bold}
.member_first-left-top{overflow:hidden;margin-bottom:30px}
.member_cortr-first a:hover{text-decoration:underline;color:#8e4f1b}
/*第一块左边*/
.member_cortr-first-left a{font-size:12px;color:#8e4f1b}
.member_cortr-first-left i{background:url(../images/icon02.png) no-repeat;display:inline-block;vertical-align:middle}
.member_cortr-first .mb_email{width:14px;height:10px;background-position:-22px -65px}
.mb_theleft,.mb_theright-sec{width:246px;overflow:hidden}
.mb_theright{font-size:0;margin:4px 0 0 20px}
.mb_theright span{font-size:12px;color:#333;vertical-align:middle;margin:0 6px}
.member_first-left-sec{overflow:hidden}
.mb_theright a,.mb_theright-sec a{vertical-align:middle}
.mb_theright-sec{font-size:0;background:url(../images/line.jpg) no-repeat right center}
.mb_theright-sec span{font-size:12px;color:#333;vertical-align:middle;}
.mb_theright-sec .vtop,.mb_theright .vtop{vertical-align:top}
/*未验证*/
.member_cortr-first .mb_phone{width:18px;height:20px;background-position:0 0}
.member_cortr-first .mb_em{width:20px;height:18px;background-position:0 -42px;margin-left:8px}
/*验证完毕*/
.member_cortr-first .mb_em-right{width:20px;height:18px;background-position:-22px -42px;margin-left:8px}
.member_cortr-first .mb_phone-right{width:18px;height:20px;background-position:-23px 0}

.mb_theright-sec p{margin-bottom:10px}
.mb_theright-sec a{margin:0 4px}
.member_first-left-sec .mb_theright span{font-weight:bold}
.member_first-left-sec .mb_theright em{display:inline-block;width:44px;height:11px;line-height:11px;text-align:center;border:1px solid #f2f2f2;padding:1px;background:#ccc;vertical-align:middle;color:#fff;font-size:12px}
.member_first-left-sec .mb_theright .mb_red-color{background:#ff4c4c}
.member_first-left-sec .mb_theright .oth_span span{color:#888;font-weight:100}
.member_first-left-sec .mb_theright p{margin-bottom:10px}
/*第一块右边*/
.member_cortr-first-right{margin-right:58px}
.member_cortr-first-right p{text-align:center;margin-top:8px}
.member_cortr-first-right a{font-size:12px;color:#333}
/*第二小块*/
.member_cortr-sec{overflow:hidden;margin:13px 0 30px 0}
.member_cortr-sec li{float:left;padding:9px 18px;border:1px solid transparent}
.member_cortr-sec-left{background:url(../images/tb.jpg) no-repeat;height:70px;width:75px}
.member_cortr-sec-right{margin-left:10px}
.member_cortr-sec h4{margin:4px 0 12px 0}
.member_cortr-sec h4,.member_cortr-sec a{color:#333;font-size:14px}
.member_cortr-sec p{font-size:12px;color:#888;line-height:18px}
.member_cortr-sec .mb_border{border:1px solid #ffcbcb}
.member_cortr-sec .mb_border h4,.member_cortr-sec .mb_border a{color:#c6a34d}
.member_cortr-sec .mb_border p{color:#c6a34d}
.member_cortr-sec .member_secimg_2{background-position:0 -70px}
.member_cortr-sec .member_secimg_3{background-position:0 -140px}
.member_cortr-sec .member_secimg_4{background-position:0 -210px}
/*第三小块*/
.member_cortr-third{overflow:hidden;margin:20px 0 26px 8px}
.member_cortr-third li{float:left;text-align:center;width:142px;margin-right:10px}
.member_cortr-third a{display:block;border:1px solid transparent}
.member_cortr-third img{width:140px;height:140px}
.member_cortr-third a:hover{border:1px solid #ffcbcb}
.member_cortr-third-word{margin-top:8px}
.member_cortr-third-word p{font-size:12px;color:#666;line-height:18px}
.member_cortr-third-word span{font-family:Arial, Helvetica, sans-serif;color:#ff4c4c}

/*我的订单页面*/
/*切换导航*/
.member_all-nav-top{height:30px}
.member_all-nav-ul li{float:left;height:29px;line-height:29px;color:#666;font-size:14px;border:1px solid #e4e4e4;border-bottom:none;padding:0 12px;margin-left:8px;cursor:pointer}
.member_all-nav-line{border-top:1px solid #d6b870}
/*选中*/
.member_all-nav-ul .member_all-nav-click{border:1px solid #d6b870;border-bottom:1px solid #fff;height:29px;font-weight:bold;color:#8e4f1b;line-height:29px}
.member_all-nav-right{font-size:0;height:30px;line-height:30px}
.member_all-nav-right i{background:url(../images/icon02.png) no-repeat;display:inline-block;vertical-align:middle}
.member_all-nav-right span{color:#888;font-size:12px;vertical-align:middle}
.member_all-nav-right a{color:#8e4f1b;font-size:12px;vertical-align:middle;margin-left:6px}
.member_all-nav-right a:hover{text-decoration:underline}
.member_all-nav-right .member_tz{width:22px;height:14px;background-position:-20px -81px}
/*订单的table*/
.member_myorder-table-first td{font-weight:bold;color:#333;font-size:12px;padding:15px 0;text-align:center}
.myorder-table_td1{width:228px}
.myorder-table_td2{width:123px;font-family:Arial;}
.myorder-table_td3{width:123px}
.myorder-table_td4{width:93px}
.myorder-table_td5{width:93px}
.myorder-table_td6{width:103px}
.member_myorder-table-sec td{background:#fef3f1;font-size:12px;color:#666;padding:8px 0;border-bottom:1px solid #e6e6e6}
.member_myorder-table-sec .myorder-table-sec_td1{padding-left:14px}
.member_myorder-table{border:1px solid #e6e6e6;border-bottom:none}
.member_myorder-table-third td{color:#666;font-size:12px;padding:15px 0;text-align:center;border-bottom:1px solid #e6e6e6}
.member_myorder-table-third p{color:#666;font-size:12px}
.member_myorder-table-third .myorder-table_td1{border-right:1px solid #e6e6e6;width:228px}
.member_myorder-table-third .myorder-table_td2{border-right:1px solid #e6e6e6}
.member_myorder-table-third .myorder-table_td3{border-right:1px solid #e6e6e6}
.member_myorder-table-third .myorder-table_td4{border-right:1px solid #e6e6e6}
.member_myorder-table-third .myorder-table_td5{border-right:1px solid #e6e6e6}
.myorder-table-third-cp{overflow:hidden}
.myorder-table-third-spcp{margin-top:10px;border-top:1px solid #e6e6e6;padding-top:10px}
.member_myorder-table-third .img_right{width:114px;text-align:justify;margin-top:12px;padding-right:14px}
.member_myorder-table-third .img_left{padding-left:16px}
.member_myorder-table-third .myorder-table_td2{color:#ff4c4c;font-size:14px;font-weight:bold}
.member_myorder-table-third .myorder-table_td3{color:#ff4c4c;font-size:14px}
.member_myorder-table-third .myorder-table_td5{color:#333;font-size:12px}	
.myorder-table_td6 .myorder-table_pay{display:inline-block;color:#ff4c4c;border:1px solid #ff4c4c;width:73px;height:22px;line-height:22px;text-align:center}
.myorder-table_td6 p{margin-top:6px;font-size:0}
.myorder-table_td6 a{color:#8e4f1b;font-size:12px}
.myorder-table_td6 p a:hover{text-decoration:underline}
.myorder-table_td6 i{color:#8e4f1b;font-size:12px;padding:0 4px}

/*我的订单详情页面*/
.member_myorder-xq{border:1px solid #e6e6e6}
.member_myorder-xq-tittle{border-bottom:1px solid #e6e6e6;background:#fef3f1;overflow:hidden}
.member_myorder-xq-tittle li{float:left;margin:0 20px;height:38px;line-height:38px}
.member_myorder-xq-tittle i{font-size:14px;color:#666;font-weight:bold;vertical-align:middle}
.member_myorder-xq-tittle span{font-size:14px;color:#666;font-family:Arial, Helvetica, sans-serif;vertical-align:middle}
.member_myorder-xq-tittle a{font-weight:bold;color:#c6a34d;font-size:12px;text-align:center;line-height:21px;vertical-align:middle}
.member_myorder-xq-tittle a:hover{background:#caa752;color:#fff}
.member_myorder-xq-ul{overflow:hidden;padding:26px}
.member_myorder-xq-ul li{float:left;text-align:center;margin-left:1px}
.myorder-xq-ul-top{font-size:14px;color:#333}
.myorder-xq-ul-cort{background:url(../images/about_xq.png) no-repeat;height:65px}
.myorder-xq-ul-bottom{margin-top:6px}
.myorder-xq-ul-bottom p{color:#888;font-size:12px;margin-top:4px}
.myorder-xq-ul-line{background:url(../images/to_right.png) no-repeat;width:44px;height:9px;margin:52px 6px 0 6px}
.xqul-cort1{background-position:-5px 12px;width:52px}
.xqul-cort2{background-position:-65px 5px;width:78px}
.xqul-cort3{background-position:-149px 9px;width:74px}
.xqul-cort4{background-position:-238px 8px;width:56px}
.xqul-cort5{background-position:-316px 7px;width:80px}
.xqul-cort6{background-position:-411px 8px;width:62px}

/*选中*/
.myorder-xq-ul-line-click{background-position:0 -9px}
.xqul-cort1-cilck{background-position:-5px -55px}
.xqul-cort2-cilck{background-position:-65px -62px}
.xqul-cort3-cilck{background-position:-149px -58px}
.xqul-cort4-cilck{background-position:-238px -59px}
.xqul-cort5-cilck{background-position:-316px -60px}
.xqul-cort6-cilck{background-position:-411px -59px}

/*订单信息*/
.member_myorder-xq-news{padding:0 9px}
.myorder-xq-news_top{overflow:hidden;margin-bottom:10px}
.myorder-xq-news_top p{font-size:14px;color:#666;font-weight:bold;height:30px;line-height:30px;margin-left:4px}
.myorder-xq-news_table{border:1px solid #e6e6e6;border-bottom:none;margin-bottom:20px}
.myorder-xq-news_table td{color:#333;font-size:12px;padding:6px 0;border-bottom:1px solid #e6e6e6}
.myorder-xq-news_table .news_table-td1{width:104px;padding-right:12px;background:#fafafa;text-align:right;border-right:1px solid #e6e6e6}
.myorder-xq-news_table .news_table-td2{width:155px;padding-left:12px;background:#fff;text-align:left;border-right:1px solid #e6e6e6}
.myorder-xq-news_table .news_table-td3{width:334px;padding-left:12px;background:#fff;text-align:left;table-layout:fixed; word-break: break-all; overflow:hidden;}
.myorder-xq-news_table .news_table-td4{width:697px;padding-left:12px;background:#fff;text-align:left;table-layout:fixed; word-break: break-all; overflow:hidden;}
/*商品明细*/
.myorder-xq-shop_table{border:1px solid #e6e6e6;border-bottom:none;margin-bottom:26px}
.myorder-xq-shop_table td{text-align:center;font-size:12px;color:#333}
.xq-shop_table-trfirst td{background:#fafafa;padding:7px 0;border-bottom:1px solid #e6e6e6}
.xq-shop_table-td1{width:194px}
.xq-shop_table-td2{width:113px}
.xq-shop_table-td3{width:90px}
.xq-shop_table-td4{width:87px}
.xq-shop_table-td5{width:130px}
.xq-shop_table-td6{width:129px}
.xq-shop_table-trsec td{border-bottom:1px solid #e6e6e6}
.xq-shop_table-trsec a{color:#333333;}
.xq-shop_table-trsec .xq-shop_table-td1,.xq-shop_table-trsec .xq-shop_table-td2,.xq-shop_table-trsec .xq-shop_table-td3,.xq-shop_table-trsec .xq-shop_table-td4,.xq-shop_table-trsec .xq-shop_table-td5{border-right:1px solid #e6e6e6}
.xq-shop_table-trsec .xq-shop_table-td1{padding:15px 0}
.xq-shop_table-trsec .xq-shop_table-td1 img{margin-left:20px}
.xq-shop_table-trsec .xq-shop_table-td1 span{width:92px;text-align:justify;margin:16px 0 0 20px;font-family:Arial, Helvetica, sans-serif}
.xq-shop_table-trsec .xq-shop_table-td6{font-weight:bold;font-size:14px;color:#666}
/*返回订单*/
.member_myorder-xq-retrun{background:#fafafa;border-top:1px solid #e6e6e6;height:38px;line-height:38px}
.member_myorder-xq-retrun a{color:#666;font-size:12px;margin-right:14px}
.member_myorder-xq-retrun a:hover{text-decoration:underline}

/*取消订单页面*/
.myorder_del-top{border:1px solid #e6e6e6;width:396px;padding:20px;margin-bottom:10px}
.myorder_del-top p{clear:both;font-size:16px;color:#666}
.myorder_del-top-button{font-size:0;margin-top:10px}
.myorder_del-top-button a{font-size:12px;color:#666;padding:0 22px 0 30px;border:1px solid #888;height:28px;line-height:28px;display:inline-block;margin-right:12px;background:url(../images/all-right.png) no-repeat 16px center}
.myorder_del-top-button a:hover{background:url(../images/all-right_w.png) no-repeat 16px center #b2b2b2;color:#fff;border:1px solid #b2b2b2}
.myorder_del-cort p{font-size:12px;color:#8e4f1b;line-height:22px}
.myorder_del-cort i{color:#ff4c4c;font-size:12px;vertical-align:middle}
.myorder_del-cort span{color:#666;font-size:12px;vertical-align:middle}
.myorder_del-cort select{vertical-align:middle;height:26px}
.myorder_del-cort .myorder_del-top-button{padding-top:10px}
.myorder_del-cort .myorder_del-top-button a{font-weight:bold;font-size:14px}
.myorder_del-top-button .del_bt{background:url(../images/all-right_w.png) no-repeat 16px center #d6b870;color:#fff;border:1px solid #d6b870}
.myorder_del-top-button .del_bt:hover{background:url(../images/all-right_w.png) no-repeat 16px center #caa752;border:1px solid #caa752}



/*我要评论页面*/
.member_all-nav-right em{color:#e94d4d}
.member_ask-table{border:1px solid #e6e6e6;margin-top:20px;border-bottom:none}
.member_ask-table td{text-align:center;padding:10px 0}
.ask-table-trfirst td{background:#fafafa;color:#333;font-size:12px;border-bottom:1px solid #e6e6e6}
.ask-table-td1{width:358px}
.ask-table-td2{width:148px}
.member_ask-table .ask-table-td3{width:184px;padding:10px 38px}
.ask-table-trsec td{border-bottom:1px solid #e6e6e6}
.ask-table-trsec .ask-table-td1{border-right:1px solid #e6e6e6;text-align:justify}
.ask-table-trsec .ask-table-td2{color:#666;border-right:1px solid #e6e6e6;font-size:12px}
.ask-table-trsec .ask-table-td3{color:#666;font-size:12px}
.ask-table-word{width:230px;margin-left:20px;margin-top:4px}
.ask-table-word p{font-size:12px;color:#333}
.ask-table-trsec .ask-table-td1 img{margin-left:38px}
.ask-table-bt{display:inline-block;padding:0 22px 0 30px;height:23px;line-height:23px;border:1px solid #c9a548;color:#c9a548;font-weight:bold;font-size:12px;background:url(../images/all-right_y.png) no-repeat 16px center}
.ask-table-bt:hover{background:url(../images/all-right_w.png) no-repeat 16px center #caa752;color:#fff}
/*已发表的评论*/
.ask-table-trsec .ask-table-sptd3{text-align:justify;line-height:16px}
.ask-table-trthird td{text-align:justify;padding:10px 12px;border-bottom:1px solid #e6e6e6;font-size:0}
.ask-table-trthird span{font-size:12px;color:#333}
.ask-table-trthird a{font-size:12px;color:#666;font-weight:bold}

/*商品评论页面*/
.member_ask-tittle{overflow:hidden;border-bottom:1px solid #e5e5e5;padding-bottom:10px}
.member_ask-tittle h4{font-size:14px;color:#666;float:left}
.member_ask-tittle p{font-size:12px;color:#666;float:right}
.member_ask-cort{overflow:hidden;margin-top:10px}
.member_ask-cort p{font-size:12px;color:#888;margin-top:5px}
.member_ask-cort span{font-size:12px;color:#333;font-family:Arial, Helvetica, sans-serif}
.member_ask-cort i{font-size:14px;color:#e64848}

.member_ask-totalk{margin:16px 0 0 26px}
.member_ask-totalk span{font-size:12px;color:#666;vertical-align:middle}
.member_ask-choose{font-size:0;margin-bottom:20px}
.member_ask-choose input{vertical-align:middle;margin:0 4px}
.member_ask-choose label{vertical-align:middle;font-size:12px;color:#333;margin-right:8px}
.member_ask-choose i{cursor:pointer;vertical-align:middle;display:inline-block;width:70px;height:23px;line-height:23px;text-align:center;color:#4c4c4c;font-size:12px;border:1px solid #e5e5e5;margin:0 4px}
.member_ask-choose .ask-choose-click{background:url(../images/border.png) no-repeat;width:72px;height:25px;line-height:25px;border:none}
.member_ask-choose .ol_span{vertical-align:top}
.member_ask-choose textarea{margin-left:4px;width:370px;height:110px;outline:none;overflow:auto;resize:none;padding:10px;line-height:20px;border:1px solid #ccc}
.member_ask-button{color:#fff;background:#d6b870;width:114px;height:30px;line-height:30px;text-align:center;font-size:14px;font-weight:bold;margin-left:64px;cursor:pointer}
.forask-button{margin-left:56px}
.forask-button .bt1{height:30px;line-height:30px}
.forask-button span{color:#fff;font-size:14px}

/*我的收藏的页面*/
.member_ollection-table{border:1px solid #e6e6e6;border-bottom:none}
.member_ollection-table td{padding:10px 0;text-align:center}
.ollection-table-trfirst td{background:#fef3f1;font-size:12px;color:#333;border-bottom:1px solid #e6e6e6}
.ollection-table-td1{width:325px;border-right:1px solid #e6e6e6}
.ollection-table-td2{width:163px;border-right:1px solid #e6e6e6}
.ollection-table-td3{width:163px;border-right:1px solid #e6e6e6}
.ollection-table-td4{width:114px}
.ollection-table-trsec td{border-bottom:1px solid #e6e6e6}
.ollection-table-trsec .ollection-table-td1{text-align:justify}
.ollection-table-td1 img{margin-left:14px}
.ollection-table-word{margin-left:20px;width:186px}
.ollection-table-word p{font-size:12px;color:#333;line-height:17px}
.ollection-table-trsec .ollection-table-td2{color:#ff4c4c;font-size:14px;font-weight:bold;font-family:微软雅黑;}
.ollection-table-td3 p{color:#333;font-size:12px;line-height:18px}
.ollection-table-td3 a{color:#888}
.ollection-table-td3 a:hover{text-decoration:underline}
.show_hover a:hover{text-decoration:underline;color:#8e4f1b}
.ollection-table-td4 p{margin-top:8px}
.ollection-table-td4 a{font-size:12px;color:#888}
.ollection-join,.ollection-xq{display:inline-block;height:21px;line-height:21px;width:78px;text-align:center}
.ollection-table-td4 .ollection-join{border:1px solid #c9a548;color:#c6a34d}
.ollection-xq{border:1px solid #ccc}

/*我的售后的页面*/
/*办理售后*/
.member_service-custre{margin-top:16px}
.member_service-top{margin-bottom:24px;padding-left:14px}
.member_service-top p{font-size:12px;color:#333;line-height:24px}
.member_service-table{border:1px solid #e6e6e6;border-bottom:none}
.member_service-table td{padding:10px 0}
.service-table-trfirst td{background:#fafafa;font-size:12px;color:#333;border-bottom:1px solid #e6e6e6}
.service-table-td1{width:531px;}
.service-table-td2{width:236px;text-align:center}
.service-table-td1 span{font-size:12px;color:#333;margin-left:18px}
.service-table-td1 em{font-size:12px;color:#ff4c4c}
.service-table-trsec td{border-bottom:1px solid #e6e6e6}
.service-table-trsec .service-table-td1{border-right:1px solid #e6e6e6}
.service-table-td1 img{margin-left:20px}
.service-table-word{margin:6px 0 0 20px}
.service-table-word p{font-size:12px;color:#333;line-height:18px}
.service-table-word i{font-size:14px;color:#ff4c4c;font-family:微软雅黑, Helvetica, sans-serif}
.service-table-td2 p{line-height:36px}
.service-table-td2 a{font-size:12px;color:#888}
.service-table-td2 .service-sqsh{display:inline-block;border:1px solid #e4d2a3;color:#c6a34d;width:108px;height:23px;line-height:23px;text-align:center;font-weight:bold;background:url(../images/all-right_y.png) no-repeat 22px center;padding-left:6px}
.service-table-td2 .service-sqsh:hover{background:url(../images/all-right_w.png) no-repeat 22px center #caa752;color:#fff;border:1px solid #caa752}
/*售后记录*/
.member_service-tablejl{border:1px solid #e6e6e6;border-bottom:none}
.member_service-tablejl td{padding:10px 0;text-align:center}
.service-tablejl-trfirst td{background:#fafafa;border-bottom:1px solid #e6e6e6;font-size:12px;color:#333}
.service-tablejl-td1,.service-tablejl-td2,.service-tablejl-td3,.service-tablejl-td4,.service-tablejl-td5,.service-tablejl-td6{border-right:1px solid #e6e6e6}
.service-tablejl-td1{width:58px}
.service-tablejl-td2{width:142px}
.service-tablejl-td3{width:142px}
.service-tablejl-td4{width:128px}
.service-tablejl-td5{width:118px}
.service-tablejl-td6{width:86px}
.service-tablejl-td7{width:88px}
.service-tablejl-trsec td{font-size:12px;color:#666;border-bottom:1px solid #e6e6e6}
.service-tablejl-trsec i{color:#ff4c4c;font-size:14px;font-family:"微软雅黑";text-decoration:underline}
.service-tablejl-trsec a{color:#ff4c4c;font-size:12px;text-decoration:underline}

/*售后详情的页面*/
.service-handle-top{height:30px;line-height:30px}
.service-handle-top p{font-size:0;color:#333}
.service-handle-top em{font-size:14px;color:#ff4c4c}
.service-handle-top span{font-size:12px}
.member_service-handle{border:1px solid #e6e6e6;border-bottom:none;clear:both;margin-bottom:24px}
.member_service-handle td{padding:10px 0;text-align:center}
.service-handle-trfirst td{background:#fafafa;color:#333;font-size:12px;border-bottom:1px solid #e6e6e6}
.service-handle-td1,.service-handle-td2{border-right:1px solid #e6e6e6}
.service-handle-td1{width:298px}
.service-handle-td2{width:198px}
.service-handle-td3{width:270px}
.service-handle-trsec td{border-bottom:1px solid #e6e6e6}
.service-handle-trsec .service-handle-td1{text-align:justify}
.service-handle-td1 img{margin-left:10px}
.service-handle-word{margin:14px 0 0 25px;width:160px}
.service-handle-word p{font-size:12px;color:#333;line-height:18px}
.service-handle-trsec .service-handle-td3{position:relative}
.service-handle-td3 textarea{border:none;outline:none;overflow:auto;resize:none;width:260px;height:94px;line-height:18px}
.word_ps{position:absolute;color:#666;font-size:12px;top:50px;left:100px}
/*填写地址*/
.shop_cort-adress{margin-top:8px;overflow:hidden}
.shop_adress-top{font-size:0;padding-left:10px;height:30px;line-height:30px}
.shop_adress-top input{vertical-align:middle;margin-right:8px;}
.shop_adress-top label{font-size:12px;color:#333;vertical-align:middle;display:inline-block}
/*2014814去掉的
.shop_adress-top span{font-size:12px;color:#888;vertical-align:middle;padding-left:20px;padding-right:40px}
.shop_adress-top i{font-size:12px;color:#e5e5e5;vertical-align:middle;padding:0 5px}
.shop_adress-top a{font-size:12px;color:#8e4f1b;vertical-align:middle}
.check_bk{background:#fef3f1}
*/
.shop_adress-top .adress_color{color:#888}
.newadress_add{height:30px;line-height:30px;background:#fafafa;margin-top:20px}
.newadress_add a{color:#8e4f1b;font-size:12px;padding-left:24px}
.newadress_add a:hover{text-decoration:underline}
/*新加地址*/
.shop_adress-add{margin-left:40px;margin-top:16px;font-size:0;display:none}
.shop_adress-add h4{font-size:14px;color:#666}
.shop_adress-Toadd{margin-top:16px}
.shop_adress-Toadd label,.shop_adress-Toadd input,.shop_adress-Toadd select,.shop_adress-Toadd span,.shop_adress-Toadd i{vertical-align:middle}
.shop_adress-Toadd label{width:70px;text-align:right;display:inline-block;font-size:12px;color:#333}
.shop_adress-Toadd input{padding:4px 0;border:1px solid #ccc;font-size:12px;color:#888;padding-left:10px}
.shop_adress-Toadd select{height:24px;width:100px}
.shop_adress-Toadd span{font-size:12px;color:#333;padding:0 6px}
.shop_adress-Toadd .adt_1{width:360px;}
.shop_adress-Toadd .oth_color{font-size:12px;color:#888}
.shop_adress-sp{margin:22px 0 22px 68px}
.shop_adress-sp label,.shop_adress-sp input{font-size:12px;color:#666;vertical-align:middle}
.shop_adress-sp label{padding-left:4px}
.shop_adress-save{overflow:hidden}
.shop_adress-save .bt1{background:#d6b870;height:30px;line-height:30px;text-align:center;color:#fff;font-size:14px;font-weight:bold;cursor:pointer}
.member_service .myorder_del-top-button{margin-top:30px}
.member_service .myorder_del-top-button a{font-weight:bold;font-size:14px}
.member_service-help{font-size:0;margin-top:35px}
.member_service-help span{font-size:12px;color:#666;margin-right:10px}
.member_service-help a{font-size:12px;color:#666;margin-right:10px}
.member_service-help a:hover{color:#c6a34d;text-decoration:underline}
.member_service-help .service-help-check{color:#c6a34d;text-decoration:underline}

/*售后服务单的页面*/
.member_service .member_ask-tittle a{color:#8e4f1b;margin-left:6px}
.member_service .member_ask-tittle a:hover{text-decoration:underline}
.member_service .member_ask-tittle p{font-size:0}
.member_service .member_ask-tittle{margin-bottom:10px}
.member_service .member_ask-tittle span,.member_service .member_ask-tittle a{font-size:12px}
.member_service-bill{margin-bottom:32px}
.member_service-bill p{font-size:14px;color:#333;font-weight:bold;line-height:24px}
.member_service-bill span{font-size:12px;color:#666;font-weight:100}
.member_service-bill em{color:#e94d4d}
.member_service-bill i{color:#333;font-weight:100;font-size:12px}
.member_service-bill-tittle{height:30px;line-height:30px}
.member_service-bill-tittle p{font-size:12px;color:#333}
.member_service-bill-tittle span{font-size:12px;color:#888}
.member_service-bill-first{border:1px solid #e6e6e6;border-bottom:none;margin-bottom:20px}
.member_service-bill-first td{padding:10px 0;border-bottom:1px solid #e6e6e6;font-size:12px;color:#333}
.member_service-bill-first .service-bill-first_td1{width:138px;border-right:1px solid #e6e6e6;background:#fafafa;text-align:right;padding-right:12px}
.member_service-bill-first .service-bill-first_td2{width:192px;border-right:1px solid #e6e6e6;text-align:left;padding-left:12px}
.member_service-bill-first .service-bill-first_td3{width:297px;text-align:left;padding-left:12px}
.member_service-bill-first .service-bill-first_td4{text-align:left;padding-left:12px}

.member_service-bill-sec{border:1px solid #e6e6e6;border-bottom:none;margin-bottom:40px}
.member_service-bill-sec td{padding:10px 0;border-bottom:1px solid #e6e6e6;text-align:center;font-size:12px}
.service-bill-sec_trfisrst td{background:#fafafa;color:#333}
.service-bill-sec_td1,.service-bill-sec_td2,.service-bill-sec_td3,.service-bill-sec_td4,.service-bill-sec_td5{border-right:1px solid #e6e6e6}
.service-bill-sec_td1{width:100px}
.service-bill-sec_td2{width:159px}
.service-bill-sec_td3{width:240px}
.service-bill-sec_td4{width:98px}
.service-bill-sec_td5{width:98px}
.service-bill-sec_td6{width:68px}
.service-bill-sec_trsec td{color:#666}
.service-bill-sec_trsec .service-bill-sec_td1{font-family:Arial, Helvetica, sans-serif}

/*退货办理的页面*/
.member_return-custre{margin-top:10px}
.member_return-all .service-table-td1{width:265px;font-size:0}
.member_return-all .service-table-td1 i{font-size:14px;color:#ff4c4c}

/*退货办理详情的页面*/
.service-handle-right{margin-left:76px}
.member_return-table{border:1px solid #e6e6e6;border-bottom:none;clear:both}
.member_return-table td{border-bottom:1px solid #e6e6e6;padding:10px 0;text-align:center;font-size:12px;color:#333}
.return-handle-td2{width:101px}
.return-handle-td3{width:130px}
.return-handle-td4{width:236px}
.return-handle-td2,.return-handle-td3{border-right:1px solid #e6e6e6}
.member_return-choose{font-size:0;margin:18px 0}
.member_return-choose label,.member_return-choose span{color:#333;font-size:12px;}
.member_return-choose select{height:24px}
.member_return-choose input,.member_return-choose select,.member_return-choose label,.member_return-choose span{vertical-align:middle}
.member_return-choose label{margin:0 14px 0 4px}
.member_return .member_service-help{margin-top:0;margin-bottom:35px}
.member_return .member_service-help span{color:#333}
.member_return .myorder_del-top-button a{font-size:14px;font-weight:bold}

/*个人信息的页面*/
.member_person-cort{overflow:hidden;padding:30px 0 0 30px;position:relative}
.member_person-cort_left span,.member_person-cort_left label{font-size:12px;color:#666;vertical-align:middle}
.member_person-cort_left select{vertical-align:middle;margin-right:10px}
.person-cort_left-write input{vertical-align:middle;}
.person-cort_left-word{font-size:0;height:26px;line-height:26px;margin-left:10px}
.person-cort_left-spword{margin-bottom:10px;margin-left:10px}
.member_person-cort a{font-size:12px;color:#8e4f1b;vertical-align:middle}
.member_person-cort a:hover{text-decoration:underline}
.person-cort_left-write{font-size:0;line-height:24px;margin-bottom:12px;overflow:hidden}
.person-cort_left-write span{display:inline-block;width:auto;text-align:right}
.write_text{padding:3px 0;border:1px solid #ccc;margin-right:8px}
.person-cort_left-write i{display:inline-block;background:url(../images/right_no.png) no-repeat;width:12px;color:#ff4c4c;vertical-align:middle;margin-left:6px}
.person-cort_left-write .writer_wrong{height:12px}
.person-cort_left-write em{font-size:12px;color:#ff4c4c;vertical-align:middle;margin-left:6px}
.person-cort_left-write .writer_right{background-position:1px -14px;height:12px}
.person-cort_left-write label{margin:0 6px}
.person-cort_left-write .write_vtop{vertical-align:top}
.member_person-cort_left textarea{width:366px;height:60px;border:1px solid #ccc;outline:none;overflow:auto;resize:none}
.small-text{width:50px}
.person-cort_left-button{font-weight:bold;color:#fff;font-size:14px;text-align:center;margin-left:72px;cursor:pointer}
.person-cort_left-button .bt1{height:30px;line-height:30px;margin:0}
.person-cort_left-button span{background:url(../images/all-right_w.png) no-repeat left center;padding-left:14px;font-size:14px;color:#fff}
.member_person-cort_right{margin:26px 60px 0 0;position:absolute;top:10px;right:0}
.member_person-cort_right p{text-align:center;line-height:26px;width:90px}
.member_person-cort_right a{display:block}
.member_person-cort_left input{padding-left:4px}

/*上传头像的页面*/
.member_person-upload{margin-top:24px;overflow:hidden;line-height:20px}
.member_person-upload span{font-size:12px;color:#666;margin-left:10px}
.person-upload-right{margin-left:68px}
.person-upload-button{width:91px;height:30px;background:#d6b870;color:#fff;font-size:14px;line-height:30px;text-align:center;font-weight:bold;margin:10px 0;cursor:pointer}
.person-upload-rightbt p{color:#666;font-size:12px;text-align:center;width:91px}
.person-upload-rightbt{position:absolute;top:100px;left:378px}
/*上传头像CSS*/
.member_person-upload{position:relative;}
.jcrop-handle{font-size:1px;width:7px !important;height:7px !important;border:1px #eee solid;background-color:#333;*width:9px;*height:9px;}
.jcrop-tracker{width:100%;height:100%;}
.jcrop-handle{border-color:#737373;background-color:#f2f2f2;}
.person-upload-right{position:absolute;left:310px;top:0;width:90px;height:90px;overflow:hidden;}

/*邮箱手机验证的页面*/
.member_person-all{margin-top:34px}
.member_person-custre span{font-size:12px;color:#666;vertical-align:middle}
.person-sp-button{margin-top:10px;margin-left:72px;cursor:pointer;height:30px;line-height:30px}
.member_password-find .person-sp-button span{font-size:14px;color:#fff;background:url(../images/all-right_w.png) no-repeat left center;padding-left:10px}
.member_person-yz{margin-left:110px;margin-bottom:64px}
.member_person-custre p{font-size:12px;color:#666;margin-top:10px}
.member_person-yz a{font-size:12px;vertical-align:middle;color:#8e4f1b;text-decoration:underline;padding-left:8px}

/*找回密码的页面*/
.member_password-find{margin:36px 0 0 90px}
.member_password-find span{font-size:12px;color:#666;vertical-align:middle}
.member_password-find a{font-size:12px;vertical-align:middle;color:#8e4f1b;text-decoration:underline;padding-left:8px}
.person-cort_left-password em{display:inline-block;width:44px;height:11px;border:1px solid #f2f2f2;padding:1px;font-size:12px;color:#fff;margin:0;background:#ccc;line-height:11px;text-align:center}
.person-cort_left-password .mb_red-color{background:#ff4c4c}

/*收货地址页面*/
.member_adress-top{margin-bottom:30px}
.member_adress-top td{padding:10px 0;color:#333;font-size:12px;text-align:center}
.member_adress-top label,.member_adress-top input,.member_adress-top a,.member_adress-top i{vertical-align:middle;font-size:12px}
.member_adress-top a:hover{text-decoration:underline}
.member_adress-top a{font-size:12px;color:#8e4f1b}
.member_adress-top i{color:#ccc}
.member_adress-trfirst td{background:#fafafa;border:1px solid #e6e6e6;border-left:none;border-right:none}
.member_adress-trfirst .member_adress-td1{border-left:1px solid #e6e6e6}
.member_adress-trfirst .member_adress-td5{border-right:1px solid #e6e6e6}
.member_adress-trsec td{border-bottom:1px dashed #dbdbdb}
.member_adress-td1{width:112px}
.member_adress-td2{width:288px}
.member_adress-td3{width:116px}
.member_adress-td4{width:86px}
.member_adress-td5{width:170px}
.member_adress-td1 label{color:#333}
.member_adress-addtop{background:#fef3f1;height:36px;line-height:30px;cursor:pointer}
.member_adress-addtop span{font-size:14px;color:#8e4f1b;font-weight:bold;margin-left:36px;vertical-align:middle}
.member_adress-addtop i{background:url(../images/icon02.png) no-repeat -31px -120px;vertical-align:middle;display:inline-block;width:9px;height:9px}
.member_adress-clicktop{background:#ffe7e3}
.member_adress-clicktop i{background:url(../images/icon02.png) no-repeat -5px -104px}
.shop_adress-Toadd .adress-Toadd_label{ vertical-align:top}
.shop_adress-Toadd textarea{width:370px;height:64px;outline:none;overflow:auto;resize:none;border:1px solid #ccc}
.shop_adress-Toadd em{color:#e60012;padding-right:4px}
.shop_adress-Toadd i{display:inline-block;background:url(../images/right_no.png) no-repeat;width:12px;vertical-align:middle;margin:0 4px 0 10px}
.shop_adress-Toadd .writer_wrong{height:12px}
.shop_adress-Toadd .writer_right{height:12px;background-position:1px -14px}
.writer_word{font-size:12px;vertical-align:middle}
.add_adress-save{margin-left:62px}
.add_adress-save .bt1{height:30px;line-height:30px;width:112px;text-align:center}
.add_adress-save span{background:url(../images/all-right_w.png) no-repeat left center;padding-left:10px}
.shop_adress-sp .add_adress-splabel{color:#8e4f1b}

/*系统消息的页面*/
.member_news-all{margin-top:22px}
.member_news-custre{border:1px solid #e6e6e6;border-bottom:none}
.member_news-custre td{padding:10px 0;text-align:center;border-bottom:1px solid #e6e6e6;font-size:12px;color:#333}
.news-custre-trfirst td{background:#fafafa}
.news-custre-td1{width:78px}
.news-custre-td2{width:78px}
.news-custre-td3{width:427px}
.news-custre-td4{width:182px}
.news-custre-trsec .news-custre-td4{color:#666}
.member_news-custre label{font-size:12px;color:#333;vertical-align:middle}
.member_news-custre input{vertical-align:middle}
.news-custre-trsec .news-custre-td1,.news-custre-trsec .news-custre-td2,.news-custre-trsec .news-custre-td3{border-right:1px solid #e6e6e6}
.news-custre-trsec .news-custre-td3{text-align:left;padding-left:10px}
.news-custre-trsec i{display:inline-block;background:url(../images/icon02.png) no-repeat -24px -101px;width:14px;height:13px}
/*看过的信息*/
.news-custre-trsec .reademail{background:url(../images/icon02.png) no-repeat -4px -137px;}
.member_news-custre a{color:#333;text-decoration:underline}
.news-custre-del{margin-top:30px;overflow:hidden}
.news-custre-del span{background:url(../images/all-right_y.png) no-repeat left center;padding-left:10px}
.news-custre-del .bt2{height:23px;line-height:23px;text-align:center;margin-left:0;padding:0 16px}
.news-custre-del .bt1{height:23px;line-height:23px;text-align:center;margin-left:0;padding:0 16px}
.news-custre-del .bt1 span{background:url(../images/all-right_w.png) no-repeat left center;padding-left:10px}
/*系统消息内文的页面*/
.member_news_top{overflow:hidden;font-size:0}
.member_news_top a{font-size:12px;color:#333;padding-left:8px;text-decoration:underline}
.member_news_cort{border:1px solid #e6e6e6;margin-top:6px}
.member_news_cort-top{background:#fafafa;border-bottom:1px solid #e6e6e6;padding:8px 0 8px 22px}
.member_news_cort-top h4{color:#333;font-size:14px;margin-bottom:10px}
.member_news_cort-top p{color:#666;font-size:12px}
.member_news_cort .sp_color{color:#333;font-size:14px;font-weight:bold}
.member_news_cort-center{padding:14px 0 10px 20px}
.member_news_cort-center p{line-height:24px;color:#333;font-size:12px}
.news_cort-center-word{padding-bottom:42px}
.member_news_cort .newsother_color{color:#666}

/*补开发票*/
.member_invoice-top{background:#fef3f1;border:1px solid #e6e6e6;padding:13px 33px 30px 33px;margin-top:15px}
.member_invoice-top i{background:url(../images/icon02.png) no-repeat -4px -116px;display:inline-block;width:12px;height:16px;}
.member_invoice-top p{font-size:12px;color:#666;line-height:28px}
.member_invoice-top a{color:#8e4f1b}
.member_invoice-top a:hover{text-decoration:underline}
.member_invoice-check{font-size:0;height:58px;line-height:58px;padding-left:24px}
.member_invoice-check label,.member_invoice-check input,.member_invoice-check i,.member_invoice-check span{vertical-align:middle}
.member_invoice-check label{font-size:12px;color:#333;margin-left:2px}
.member_invoice-check span{font-size:12px;color:#888}
.member_invoice-check i{cursor:pointer;display:inline-block;border:1px solid #ccc;width:148px;height:28px;text-align:center;line-height:28px;background:url(../images/button_rp.png) repeat-x;font-size:14px;color:#333;margin:0 24px}
.member_invoice-table{border:1px solid #e6e6e6;border-bottom:none}
.member_invoice-table td{padding:10px 0;border-bottom:1px solid #e6e6e6;text-align:center;font-size:12px;color:#333}
.invoice-table_trfirst td{background:#fafafa}
.invoice-table_td1{width:70px}
.invoice-table_td2{width:140px}
.invoice-table_td3{width:126px}
.invoice-table_td4{width:118px}
.invoice-table_td5{width:112px}
.invoice-table_td6{width:208px}
.invoice-table_trsec .invoice-table_td2{color:#ff4c4c;font-size:14px}
.member_invoice-table a{color:#8e4f1b;font-size:12px;text-decoration:underline}
.member_invoice-cort{margin-top:16px}
.invoice-cort-top{height:35px;line-height:35px;background:#fef3f1;padding-left:20px}
.invoice-cort-top span{font-size:14px;color:#666;vertical-align:middle;font-weight:bold}
.invoice-cort-top a{font-size:12px;color:#8e4f1b;vertical-align:middle}
.invoice-cort-word{padding:12px 0 10px 12px}
/*2014814去掉
.invoice-cort-new{margin-bottom:24px;font-size:0}
*/
.invoice-cort-new p{font-size:12px;color:#333;line-height:24px}
.invoice-cort-new label,.invoice-cort-new i,.invoice-cort-new select,.invoice-cort-new input{vertical-align:middle}
.invoice-cort-new i{font-size:12px;color:#e60012}
.invoice-cort-new label{font-size:12px;color:#333;margin:0 2px}
.invoice_write{margin-top:14px;overflow:hidden;font-size:0}
.invoice_write input{padding:3px 0;border:1px solid #ccc}
.invoice_write p{padding-left:8px}
.invoice_write .bt1{height:30px;line-height:30px}
.invoice-cort-new span{font-size:12px;color:#333;padding-right:10px}
.member_invoice-cort .shop_adress-add{margin:0}
.invoice-cort-qr{font-size:0;margin-top:24px;overflow:hidden}
.invoice-cort-qr label,.invoice-cort-qr input,.invoice-cort-qr a{vertical-align:middle;font-size:12px}
.invoice-cort-qr label{color:#333;margin-left:6px}
.invoice-cort-qr a{color:#8e4f1b}
.invoice-cort-qr a:hover{text-decoration:underline}
.invoice-cort-qr .bt1{margin-left:0;height:30px;line-height:30px;margin-top:18px}
.invoice-cort-qr span{background:url(../images/all-right_w.png) no-repeat left center;padding-left:10px}

/*发票记录*/
.member_invoice-record{margin-top:17px;border:1px solid #e6e6e6;border-bottom:none}
.member_invoice-record td{padding:10px 0;border-bottom:1px solid #e6e6e6;font-size:12px;color:#333;text-align:center}
.invoice-record-trfirst td{background:#fafafa}
.invoice-record-td1{width:118px}
.invoice-record-td2{width:124px}
.invoice-record-td3{width:94px}
.invoice-record-td4{width:114px}
.invoice-record-td5{width:124px}
.invoice-record-td6{width:94px}
.invoice-record-td7{width:102px}
.invoice-record-trsec .invoice-record-td1{color:#ff4c4c;font-size:14px}
.member_invoice-record a{font-size:12px;color:#8e4f1b;text-decoration:underline}

/*发票详情的页面*/
.member_invoice-detail{border:1px solid #e6e6e6}
.member_invoice-detail_top{border-bottom:1px solid #e6e6e6;height:38px;line-height:38px;background:#fef3f1;padding-left:16px;font-size:14px;color:#666;font-weight:bold}
.member_invoice-detail_cort{padding:0 19px}
/*详情展示图*/
.invoice-detail_cort-xq{margin-bottom:28px}
.member_invoice-detail_ul{overflow:hidden;margin:28px 0 0 92px}
.member_invoice-detail_ul li{float:left;background:url(../images/small_d.png) no-repeat 0 21px;padding-left:4px}
.invoice-detail_zt{height:24px;font-size:12px;width:160px;text-align:center;color:#666}
.invoice-detail_img{font-size:0;height:20px}
.invoice-detail_img i{display:inline-block;width:22px;height:5px;background:#e5e5e5;margin-left:6px}
.member_invoice-detail_ul .invoice-detail_ztli{width:10px;height:44px}
.invoice-detail_img .detail_img-spcolor{background:#ffb7bd}
.member_invoice-detail_ulword{overflow:hidden;margin-left:10px}
.member_invoice-detail_ulword li{float:left;text-align:center;width:173px}
.member_invoice-detail_ulword p{font-size:12px;color:#333;line-height:18px}
.member_invoice-detail_ulword span{font-size:12px;color:#888}
.member_invoice-detail h3{margin-bottom:10px}
.member_invoice-detail .invoice-cort-new{margin:0 0 20px 24px}
.member_invoice-price{border:1px solid #e6e6e6;border-bottom:none;margin:10px 0 80px 0}
.member_invoice-price td{border-bottom:1px solid #e6e6e6;font-size:12px;color:#333;text-align:center;padding:10px 0}
.invoice-price_trfirst td{background:#fafafa}
.invoice-price_td1{width:234px}
.invoice-price_td2{width:132px}
.invoice-price_td3{width:94px}
.invoice-price_td4{width:270px}
/*点击填写框改变颜色*/
.checkinput_color{background:#faffbd}

/*新加 打印*/
.member_all-nav-right .member_dy{background:url(../images/mb_dy.png) no-repeat;width:14px;height:14px;margin-right:4px}

/*新加 相关系列切换*/
.themb_cp{border-bottom:1px solid #dbdbdb;height:30px}
.themb_cp li{float:left;color:#666;font-size:14px;margin-right:30px;height:29px;cursor:pointer;font-weight:bold}
.themb_cp .themb_cp-click{border-bottom:2px solid #d6aa70}


/*纪念日*/
.member_jnrcor{margin-top:10px;overflow:hidden}
.member_jnrcor-show,.member_telshow{font-size:0;height:36px;line-height:36px}
.member_jnrcor-show span,.member_telshow span{font-size:12px;color:#333;margin-right:10px}
.member_jnrcor-show i,.member_telshow i{font-size:12px;color:#c6a34d;font-weight:bold;text-decoration:underline;margin-left:10px;cursor:pointer}
.member_jnrcor-bj,.member_telbj{font-size:0;height:36px;line-height:36px;display:none}
.member_jnrcor-bj span,.member_telbj span{font-size:12px}
.member_jnrcor-bj i,.member_telbj i{font-size:12px;color:#c6a34d;font-weight:bold;text-decoration:underline;margin-left:20px;cursor:pointer}
.member_jnr .bt1{height:30px;line-height:30px;margin-top:10px;margin-left:0}
.member_jnrtel{margin-top:20px}
.member_telbj input{padding:2px 0}
.allitmb-tel p{font-size:12px;color:#333}


/*我的预约页面20150420*/
.ollection-table-td2 p{font-family:"微软雅黑"}
.ollection-table-word span{display:inline-block;width:88px}
.ollection-table-td4 p{margin-top:8px;font-size:12px;color:#333}
/*弹窗*/
.pinkyy_tc{background:url(../images/whrite_bk.png) no-repeat;z-index:401;width:410px;height:190px;position:fixed;top:25%;left:50%;margin-left:-205px;font-family:"微软雅黑"}
.pinkyy_tc-top{text-align:center;font-size:18px;color:#c9a548;margin-top:14px}
.pinkyy_tc-top span{margin-left:24px}
.pinktc_close{margin-right:10px;cursor:pointer}
.pinkyy_tc-center{font-family:"宋体";font-size:14px;color:#888;text-align:center;margin:42px 0}
.pinkyy_tc-button{text-align:center;font-size:0}
.pinkyy_tc-button a{display:inline-block;font-size:16px;color:#d6b870;border:1px solid #d6b870;width:94px;height:34px;line-height:34px;text-align:center;margin:0 6px;cursor:pointer}
.pinkyy_tc-button .pink_sure{background:#d6b870;color:#fff}

/*专属空间  20150603*/
.member_kjcort{text-align:center;font-size:0;margin-top:30px}
.member_kjcort p{font-size:16px;color:#333;margin-bottom:20px}
.member_kjcort a,.member_kjcort span{display:inline-block;width:130px;height:30px;line-height:30px;text-align:center;font-size:14px;margin:0 6px;border:1px solid #c6a34d;color:#c6a34d}
.member_kjcort a:hover,.member_kjcort span:hover{background:#c6a34d;color:#fff}
