<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/admin/css/shop.css" type="text/css" rel="stylesheet" />
<link href="/admin/css/Sellerber.css" type="text/css"  rel="stylesheet" />
<link href="/admin/css/bkg_ui.css" type="text/css"  rel="stylesheet" />
<link href="/admin/font/css/font-awesome.min.css"  rel="stylesheet" type="text/css" />
<script src="/admin/js/jquery-1.9.1.min.js" type="text/javascript" ></script>
<script type="text/javascript" src="/admin/js/jquery.cookie.js"></script>
<script src="/admin/js/shopFrame.js" type="text/javascript"></script>
<script src="/admin/js/Sellerber.js" type="text/javascript"></script>
<script src="/admin/js/layer/layer.js" type="text/javascript"></script>
<script src="/admin/js/laydate/laydate.js" type="text/javascript"></script>
<title>物流管理</title>
</head>
<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <script src="js/css3-mediaqueries.js"  type="text/javascript"></script>
  <![endif]-->
<body>
{if 1 == $code}
<div class="margin order_style" id="page_style">
    <div class="operation clearfix">
    <ul class="choice_search">
     <li class="clearfix col-xs-3 col-lg-3 col-ms-3 "><label class="label_name ">订单号：</label><input name="" type="text" id="ssgname" class="form-control col-xs-8 col-lg-7"/></li>
      
     <button class="btn button_btn bg-deep-blue " onclick="ss()"  type="button"><i class="fa  fa-search"></i>&nbsp;搜索</button>
    </ul>
    </div>
    {foreach $wtorder as $wval}
    <div class="list_order">
        <table class="Logisticsb table table_list table_striped table-bordered">
        <tr class="Logisticsb_info clearfix ">
           <td colspan="4">
             <ul>
             <li class="clearfix col-xs-2 col-lg-3">订单号：{$wval[0]['oid']}</li>
             <li class="clearfix col-xs-2 col-lg-3">下单时间：{$wval[0]['create_time']}</li>
             <li class="clearfix col-xs-2 col-lg-3">付款时间：{$wval[0]['update_time']}</li>
             <li class="clearfix col-xs-2 col-lg-3">付款方式：支付宝</li>
             </ul>
           </td>
           </tr>
           {foreach $wval as $gval}
           <tr class="Logisticsb_content clearfix">
           <td class="content_jb_name">
            
            <table>
            <tbody>
              <tr><td>{$gval['gname']}</td><td>1</td><td>{$gval['unit_price']}</td></tr>
              </tbody>
            </table>         
           </td>
           <td class="content_jb">{$gval['total_price']}</td>
            <td class="content_jb status">待发货</td>
           <td class="content_jb">
             <a href="/admin/order/Order_detailed?oid={$gval['oid']}"  class="btn bg-deep-blue operation_btn">查看</a>
             <a href="javascript:ovid()" onclick="issuance_btn({$gval['oid']})" class="btn bg-deep-blue operation_btn">发货</a>
           </td>
           </tr>
            {/foreach}
        </table>
    </div>
    {/foreach}
</div>
{else}
<div class="margin order_style" id="page_style">
    <div class="operation clearfix">
    <ul class="choice_search">
     <li class="clearfix col-xs-3 col-lg-3 col-ms-3 "><label class="label_name ">订单号：</label><input name="" type="text" id="ssgname" class="form-control col-xs-8 col-lg-7"/></li>
      
     <button class="btn button_btn bg-deep-blue " onclick="ss()"  type="button"><i class="fa  fa-search"></i>&nbsp;搜索</button>
    </ul>
    </div>
    
    <div class="list_order">
        <table class="Logisticsb table table_list table_striped table-bordered">
        <tr class="Logisticsb_info clearfix ">
           <td colspan="4">
             <ul>
             <li class="clearfix col-xs-2 col-lg-3">订单号：{$ssorder[0]['oid']}</li>
             <li class="clearfix col-xs-2 col-lg-3">下单时间：{$ssorder[0]['create_time']}</li>
             <li class="clearfix col-xs-2 col-lg-3">付款时间：{$ssorder[0]['update_time']}</li>
             <li class="clearfix col-xs-2 col-lg-3">付款方式：支付宝</li>
             </ul>
           </td>
           </tr>
           {foreach $ssorder as $gval}
           <tr class="Logisticsb_content clearfix">
           <td class="content_jb_name">
            
            <table>
            <tbody>
              <tr><td>{$gval['gname']}</td><td>1</td><td>{$gval['unit_price']}</td></tr>
              </tbody>
            </table>         
           </td>
           <td class="content_jb">{$gval['total_price']}</td>
            <td class="content_jb status">待发货</td>
           <td class="content_jb">
             <a href="/admin/order/Order_detailed?oid={$gval['oid']}"  class="btn bg-deep-blue operation_btn">查看</a>
             <a href="javascript:ovid()" onclick="issuance_btn({$gval['oid']})" class="btn bg-deep-blue operation_btn">发货</a>
           </td>
           </tr>
            {/foreach}
        </table>
    </div>
    
</div>

{/if}
<!--发货-->
<div id="issuance_style" class="display">
 <ul class="add_style">
      <form method="post" action="/admin/order/sendmsg">
      <h1>订单号：<input type="text" id="ordernum" name="order" value="订单号"></h1>
      <li class="clearfix"><label class="label_name col-xs-2">选择快递：&nbsp;&nbsp;</label>
      <span class="cont_style col-xs-9">
      <select class="select Competence_sort" name="admin-role" size="1" id="Competence_sort">
          					<option value="0">--选择快递--</option>
          					<option value="邮政EMS">邮政EMS</option>
          					<option value="申通快递">申通快递</option>
                    <option value="圆通快递">圆通快递</option>
                    <option value="中通快递">中通快递</option>
                    <option value="韵达快递">韵达快递</option>
				</select>
      
      </span></li>
       <li class="clearfix"><label class="label_name col-xs-2">快递单号：&nbsp;&nbsp;</label><span class="cont_style col-xs-9"><input name="kdnum" type="text" id="form-field-1" class="col-xs-10 col-sm-5" ></span></li><br/>
        <li class="clearfix"><span class="cont_style col-xs-9"><input value="发送" type="submit" id="form-field-1" class="col-xs-10 col-sm-5" ></span></li>
 </ul>
</form>
</div>
</body>
</html>
<script>

function issuance_btn(oid){
    // var oval = document.getElementById("ordernum").value; 
    // oval =  oid;
   layer.open({
        type: 1,
        title: '发货',
        maxmin: true, 
        shadeClose: false, //点击遮罩关闭层
        area : ['800px' , '400px'],
        content:$('#issuance_style'),
    });
	}
/*******滚动条*******/
$("body").niceScroll({  
	cursorcolor:"#888888",  
	cursoropacitymax:1,  
	touchbehavior:false,  
	cursorwidth:"5px",  
	cursorborder:"0",  
	cursorborderradius:"5px"  
});
	/*时间*/
  function ss(){
  sg = $('#ssgname').val();
  location.href="/admin/order/s_omanage?ss="+sg;
}
 /******时间设置*******/
  var start = {
    elem: '#start',
    format: 'YYYY-MM-DD',
   // min: laydate.now(), //设定最小日期为当前日期
    max: '2099-06-16', //最大日期
    istime: true,
    istoday: false,
    choose: function(datas){
         end.min = datas; //开始日选好后，重置结束日的最小日期
         end.start = datas //将结束日的初始值设定为开始日
    }
};
var end = {
    elem: '#end',
    format: 'YYYY-MM-DD',
    //min: laydate.now(),
    max: '2099-06-16',
    istime: true,
    istoday: false,
    choose: function(datas){
        start.max = datas; //结束日选好后，重置开始日的最大日期
    }
};
laydate(start);
laydate(end);
</script>
