<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/admin/css/shop.css" type="text/css" rel="stylesheet" />
<link href="/admin/css/Sellerber.css" type="text/css"  rel="stylesheet" />
<link href="/admin/css/bkg_ui.css" type="text/css"  rel="stylesheet" />
<link href="/admin/font/css/font-awesome.min.css"  rel="stylesheet" type="text/css" />
<script src="/admin/js/jquery-1.9.1.min.js" type="text/javascript" ></script>
<script src="/admin/js/Sellerber.js" type="text/javascript"></script>
<script type="text/javascript" src="/admin/js/jquery.cookie.js"></script>
<script src="/admin/js/shopFrame.js" type="text/javascript"></script>
<script src="/admin/js/jquery.dataTables.min.js"></script>
<script src="/admin/js/jquery.dataTables.bootstrap.js"></script>
<script src="/admin/js/layer/layer.js" type="text/javascript"></script>
<script src="/admin/js/laydate/laydate.js" type="text/javascript"></script>
<!--[if lt IE 9]>
<script src="js/html5shiv.js" type="text/javascript"></script>
<script src="js/respond.min.js"></script>
<script src="js/css3-mediaqueries.js"  type="text/javascript"></script>
  <![endif]-->
<title>订单</title>

</head>
<body>
<div class="margin order_style" id="page_style">
<div class="sum_style margin-bottom ">
 <ul class="clearfix">
  <li class="col-xs-3 "><div class="sum_zone Amount">交易总额<span><em>￥</em>354465元</span></div></li>
  <li class="col-xs-3 "><div class="sum_yifu Amount">已付金额<span><em>￥</em>35465元</span></div></li>
  <li class="col-xs-3 "><div class="sum_daifu Amount">代付金额<span><em>￥</em>0元</span></div></li>
  <li class="col-xs-3 "><div class="sum_tuikuan Amount">退款金额<span><em>￥</em>0元</span></div></li>
 </ul>
</div>
<div class="status_order margin-bottom">
  <a href="javascrpit:void" class="btn button_btn btn-info status_btn">所有订单(8)</a>
  <a href="javascrpit:void" class="btn button_btn btn-info status_btn">已完成(2)</a>
  <a href="javascrpit:void" class="btn button_btn btn-info status_btn">未完成(4)</a>
  <a href="javascrpit:void" class="btn button_btn btn-info status_btn">代发货(1)</a>
  <a href="javascrpit:void" class="btn button_btn btn-info status_btn">代付款(1)</a>
 </div>
<div class="operation clearfix">

<div class="search  clearfix">
 <label class="label_name">订单号：</label>
 <input name="" type="text" id="ssgname" class="form-control col-xs-6" style=" width:250px;"/>
 
 <button class="btn button_btn bg-deep-blue " onclick="ss()"  type="button"><i class="fa  fa-search"></i>&nbsp;搜索</button>
</div>
</div>
<div class="List_display">
 
  <table class="table table_list table_striped table-bordered" id="sample-table">
  <thead>
  <tr>
  <th width="30"><label><input type="checkbox" class="ace"><span class="lbl"></span></label></th>
   <th width="50">用户id</th>
   <th width="200">订单编号</th>   
   <th width="150">下单时间</th>
   <th width="80">总价</th>
   <th width="50">用户id</th>
   <th width="100">状态</th>
   <th width="150">更新时间</th>
   <th width="">备注</th>
   <th width="150">操作</th>
   </tr>   
  </thead>
  <tbody>
   <tr>
   </tr>
  </tbody>
 </table>
</div>
</div>
{$page}
</body>
</html>
<script>
var dataSet=[
 {foreach $orders as $oval}
 ['<label><input type="checkbox" class="ace"><span class="lbl"></span></label>','{$oval['uid']}','{$oval['oid']}','{$oval['create_time']}','{$oval['total_price']}','{$oval['uid']}','{if 0 == $oval['order_state']}待付款{elseif 1 == $oval['order_state']}待发货{elseif 2 == $oval['order_state']}已发货{else}已收货{/if}','{$oval['update_time']}','{$oval['text']}',' <a href="javascript:void()" onclick="picture_del({$oval['oid']})" class="btn btn-danger operation_btn">删除</a> <a href="/admin/order/Order_detailed?oid={$oval['oid']}" onclick="picture_img()" class="btn bg-deep-blue operation_btn">查看</a>'],
 {/foreach}
 
    
];
 jQuery(function($) {
				var oTable1 = $('#sample-table').dataTable( {
				"data": dataSet,
				"width":"100%",	
				"bLengthChange":false,
				"iDisplayLength": 20,
				//"columns" : _tableCols,
				"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		        "bStateSave": true,//状态保存
				"searching": false,
		        "aoColumnDefs": [{"orderable":false,"aTargets":[0,2,3,5,6,7,8]
				}]
		
			   });
			
				$('table th input:checkbox').on('click' , function(){
					var that = this;
					$(this).closest('table').find('tr > td:first-child input:checkbox')
					.each(function(){
						this.checked = that.checked;
						$(this).closest('tr').toggleClass('selected');
					});
						
				});
			});
	/*产品-删除*/
function picture_del(id){
	layer.confirm('确认要删除吗？',{icon:0,},function(index){
		$.get('/admin/order/delorder',{id:id},function(data){
  
    if(data){
      alert('已删除');
      window.location.reload();
    }

   },'json');
		
	});
}
/*******滚动条*******/
$("body").niceScroll({  
	cursorcolor:"#888888",  
	cursoropacitymax:1,  
	touchbehavior:false,  
	cursorwidth:"5px",  
	cursorborder:"0",  
	cursorborderradius:"5px"  
});
	/*时间*/
 function ss(){
  sg = $('#ssgname').val();
  location.href="/admin/order/s_order?ss="+sg;

}
</script>
