<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/admin/css/shop.css" type="text/css" rel="stylesheet" />
<link href="/admin/css/Sellerber.css" type="text/css"  rel="stylesheet" />
<link href="/admin/css/bkg_ui.css" type="text/css"  rel="stylesheet" />
<link href="/admin/font/css/font-awesome.min.css"  rel="stylesheet" type="text/css" />
<script src="/admin/js/jquery-1.9.1.min.js" type="text/javascript" ></script>
<script type="text/javascript" src="/admin/js/jquery.cookie.js"></script>
<script src="/admin/js/shopFrame.js" type="text/javascript"></script>
<script src="/admin/js/Sellerber.js" type="text/javascript"></script>
<script src="/admin/js/layer/layer.js" type="text/javascript"></script>
<script src="/admin/js/jquery.dataTables.min.js"></script>
<script src="/admin/js/jquery.dataTables.bootstrap.js"></script>

<!--[if lt IE 9]>
<script src="js/html5shiv.js" type="text/javascript"></script>
<script src="js/respond.min.js"></script>
<script src="js/css3-mediaqueries.js"  type="text/javascript"></script>
  <![endif]-->
<title>产品列表</title>
</head>

<body>
<div class="margin" id="page_style">
<div class="operation clearfix">

<span class="submenu"><a href="javascript:void(0)" name="/admin/product/s_addpuct" class="btn button_btn bg-deep-blue" title="添加产品"><i class="fa  fa-edit"></i>&nbsp;添加产品</a></span>
<div class="search  clearfix">
 <label class="label_name">商品搜索：</label><input name="ss" id="ssgname" type="text"  class="form-control col-xs-6"/><button class="btn button_btn bg-deep-blue " onclick="ss()"  type="button"><i class="fa  fa-search"></i>&nbsp;搜索</button>

</div>
</div>
<!--列表展示-->
<div class="list_Exhibition margin-sx">
 <table class="table table_list table_striped table-bordered" id="sample-table">
  <thead>
  <tr>
  <th width="30"><label><input type="checkbox" class="ace"><span class="lbl"></span></label></th>
   <th width="100">产品编号</th>
   <th>产品名称</th>
   <th width="100">数量</th>
   <th width="120">产品现价</th>
   <th width="100">重量</th>
   <th width="100">材质</th>
   <th width="150">添加日期</th>
   <th width="100">状态</th>
   <th width="220">操作</th>
   </tr>   
  </thead>
  <tbody>
   <tr>
   </tr>
  </tbody>
 </table>
</div>
</div>
<div class="add_Carousel_figure" id="add_Carousel_figure" style=" display:none">
  
</div>
{$page}

</body>
</html>
<script type="text/javascript">
//设置框架
 $(function() { 
	$("#page_style").frame({
		float : 'left',
		menu_nav:'.operation',
		color_btn:'.skin_select',
	});
});
$(document).ready(function(){
    var spotMax = 8;
  if($('#add_Carousel_figure .table tbody tr').size() >= spotMax) {$(obj).hide();}
  $("#add_Upload").on('click',function(){ 
       var cid =$('.images_Upload').each(function(i){ $(this).attr('id',"Uimages_Upload_"+i)});
       addSpot(this, spotMax, cid);
  });
});
function addSpot(obj, sm ,sid) {
	  $("#Upload").append("<div class='images_Upload clearfix margin-bottom' id='"+sid+"'>"+
	  "<span class='Upload_img'><input name='' type='file' /></span>"+
	  "<a href='javascript:ovid()' class='operating delete_Upload'><i class='fa fa-remove'></i></a>"+
	  "<a href='javascript:ovid()' class='operating' onclick='preview_img(this.id)'><i class='fa  fa-image'></i></a>"+
	  "</div>&nbsp;")  
	.find(".delete_Upload").click(function(){
		if($('div.images_Upload').size()==1){
			layer.msg('请至少保留一张图片!',{icon:0,time:1000});			
			}
			else{
				 $(this).parent().remove();
                 $('#add_Upload').show();
				} 				
				
  });
  if($('.delete_Upload').size() >= sm) {$(obj).hide();layer.msg('当前为最大图片添加量!',{icon:0,time:1000});}}
var dataSet=[
          {foreach $goods as $gval}
			   ['<label><input type="checkbox" class="ace"><span class="lbl"></span></label>','{$gval['gid']}', '{$gval['gname']}','{$gval['count']}','{$gval['price_sale']}','{$gval['weight']}','{$gval['quality']}','{$gval['create_time']}',{if 1 == $gval['is_up']}'<span class="label label-success label-sm">上架</span>'{else}'<span class="label label-Shelf label-sm ">下架</span>'{/if},'<div class="td-manage">{if 1 == $gval['is_up']}<a href="javascript:ovid()" onclick="picture_stop({$gval['gid']})" class="btn bg-green operation_btn">下架</a> {else}   <a href="javascript:ovid()" onclick="picture_start({$gval['gid']})" class="btn bg-green operation_btn">上架</a>  {/if}  <a href="javascript:ovid()" onclick="picture_del({$gval['gid']})" class="btn btn-danger operation_btn">删除</a> <a href="javascript:ovid()" onclick="picture_img(this.id)" id="{$gval['images']}"  class="btn bg-deep-blue operation_btn">图片</a></div>'],
	       {/foreach}
	  ];			  
			jQuery(function($) {
				var oTable1 = $('#sample-table').dataTable( {
				"data": dataSet,
				"width":"100%",	
				"bLengthChange":false,
				"iDisplayLength": 20,
				"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		        "bStateSave": true,//状态保存
				"searching": false,
		        "aoColumnDefs": [{"orderable":false,"aTargets":[0,8,9]}]
			   });
								
				$('table th input:checkbox').on('click' , function(){
					var that = this;
					$(this).closest('table').find('tr > td:first-child input:checkbox')
					.each(function(){
						this.checked = that.checked;
						$(this).closest('tr').toggleClass('selected');
					});
						
				});
			});

/***********图片查看**********/
function picture_img(obj){
	
	var pic = "<img src='"+obj+"' />";

	 layer.open({
        type: 1,
        title: '产品大图',
		maxmin: true, 
		shadeClose:false, //点击遮罩关闭层
        area : ['800px' , '400px'],
        content:pic,
	 });
	}
	/*产品-删除*/
function picture_del(id){
	layer.confirm('确认要下架吗？',function(index){
		$.get('/admin/product/delpuct',{id:id},function(data){

	 	if(data){
	 		layer.msg('已删除!',{icon: 6,time:1000});
	 		window.location.reload();
	 	}

	 	
	 },'json');
		
	});
}
/*商品-停用*/
function picture_stop(id){
	layer.confirm('确认要下架吗？',function(index){
		$.get('/admin/product/dwpuct',{id:id},function(data){

	 	if(data){
	 		layer.msg('已下架!',{icon: 6,time:1000});
	 		window.location.reload();
	 	}

	 	
	 },'json');
		
	});
}

/*商品-启用*/
function picture_start(id){
	layer.confirm('确认要上架吗？',function(index){
		$.get('/admin/product/uppuct',{id:id},function(data){

	 	if(data){
	 		layer.msg('已上架!',{icon: 6,time:1000});
	 		window.location.reload();
	 		//layer.msg('已删除!');
	 	}

	 	
	 },'json');
		
	});
}
/*********滚动事件*********/
$("#page_style").niceScroll({  
	cursorcolor:"#888888",  
	cursoropacitymax:1,  
	touchbehavior:false,  
	cursorwidth:"5px",  
	cursorborder:"0",  
	cursorborderradius:"5px"  
});

 $(document).ready(function(){
	var ReturnWindow=$('#contents', parent.document); 
	var width = ReturnWindow.css("width");
	 $("#sample-table").css({"width":width-20+"px"});
	  $('#sample-table').location.replace(location.href);
	 });

 function ss(){
 	sg = $('#ssgname').val();
	location.href="/admin/product/s_product?ss="+sg;

}
</script>
