<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
	.div{margin-top: 300px;margin-left: 550px;}

</style>
<title>站点</title>
</head>

<body>
	<div class="div">
		&nbsp;&nbsp;&nbsp;&nbsp;<b>是&nbsp;否&nbsp;关&nbsp;闭&nbsp;站&nbsp;点&nbsp;？</b><br/><br/><br/>
		<input type="button" name="xxx" value="老哥们要维护" id="btn1"> <input type="button" value="不了不了" name="x" id="btn2">
	</div>
</body>
<script language="javascript"> //js脚本标注
		var pswd;
		var btn1 = document.getElementById("btn1");
		var btn2 = document.getElementById("btn2");
		btn1.addEventListener("click", function() {
		    pswd=prompt("请输入超级管理员密码"); /*在页面上弹出提示对话框，
			将用户输入的结果赋给变量name*/
			alert(pswd)//输出用户输入的信息
		});
		btn2.addEventListener("click", function() {
		    window.history.back(-1); 
		});
	
</script>
</html>



