<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
	.div{margin-top: 300px;margin-left: 550px;}

</style>
<title>站点</title>
</head>

<body>
	<div class="div">
		{if 0 == $istp}
			<b>是&nbsp;否&nbsp;关&nbsp;闭&nbsp;站&nbsp;点&nbsp;？</b><br/><br/><br/>
			<input type="button" name="xxx" onclick="shabi()" value="老哥们要维护" id="btn1"> 
		{else}
			<b>老&nbsp;哥&nbsp;辛&nbsp;苦&nbsp;了&nbsp;！</b><br/><br/><br/>
			<input type="button" onclick="shabi2()" value="万事万事" name="x" id="btn2">
		{/if}
	</div>
</body>
<script language="javascript"> //js脚本标注
		var pswd = '';
		var pswd2 = '';
			function shabi()
			{
			    pswd = prompt("请输入超级管理员密码");
			   if (pswd) {
			   		location.href="/admin/close/doclose?pwd="+pswd;
			   }
			    
			}

			function shabi2()
			{
			    pswd2 = prompt("请输入超级管理员密码");
			   if (pswd2) {
			   		location.href="/admin/close/rev?pwd="+pswd2;
			   }
			    
			}
		
	
</script>
</html>



