<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/admin/css/shop.css" type="text/css" rel="stylesheet" />
<link href="/admin/css/Sellerber.css" type="text/css"  rel="stylesheet" />
<link href="/admin/css/bkg_ui.css" type="text/css"  rel="stylesheet" />
<link href="/admin/font/css/font-awesome.min.css"  rel="stylesheet" type="text/css" />
<script src="/admin/js/jquery-1.9.1.min.js" type="text/javascript" ></script>
<script type="text/javascript" src="/admin/js/jquery.cookie.js"></script>
<script src="/admin/js/shopFrame.js" type="text/javascript"></script>
<script src="/admin/js/Sellerber.js" type="text/javascript"></script>
<script src="/admin/js/layer/layer.js" type="text/javascript"></script>
<script src="/admin/js/jquery.dataTables.min.js"></script>
<script src="/admin/js/jquery.dataTables.bootstrap.js"></script>
<title>管理员列表</title>
</head>
<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <script src="js/css3-mediaqueries.js"  type="text/javascript"></script>
  <![endif]-->
<body>
<div class="margin Competence_style" id="page_style">
    <div class="operation clearfix">

<a href="add_administrator.html"  class="btn button_btn bg-deep-blue" title="添加管理员"><i class="fa  fa-edit"></i>&nbsp;添加管理员</a>
  <select class="select Competence_sort" name="admin-role" size="1" id="Competence_sort">
					<option value="0">--选择分类--</option>
					<option value="1">店长</option>
					<option value="2">管理员</option>
					<option value="3">员工</option>
				</select>
   <div class="search  clearfix">

  
</div>
</div>
<div class="compete_list">
       <table id="sample_table" class="table table_list table_striped table-bordered dataTable no-footer">
		 <thead>
			<tr>
			  <th class="center"><label><input type="checkbox" class="ace"><span class="lbl"></span></label></th>
			  <th>登录名</th>
			  <th>手机</th>
              <th>邮箱</th>
              <th>角色</th>
			  <th class="hidden-480">加入时间</th>  
              <th>状态</th>         
			  <th class="hidden-480">操作</th>
             </tr>
		    </thead>
             <tbody>
				{foreach $all as $aval}
			  <tr>
				<td class="center"><label><input type="checkbox" class="ace"><span class="lbl"></span></label></td>
				<td>{$aval['username']}</td>
				<td>{$aval['tel']}</td>
				<td >{$aval['email']}</td>
				<td>{if 3 == $aval['role_id']}店长{elseif 2 == $aval['role_id']}普通管理员{else}员工{/if}</td>
                <td>{$aval['create_time']}</td>
                <td class="td-status">{if 0 == $aval['is_stop']}<span class="label label-success label-sm">已启用</span>{else}
                <span class="label label-success label-sm">已停用</span>{/if}</td>
				<td class="td-manage">
				{if 1 == $aval['is_stop']}
				<a style="text-decoration:none" class="btn button_btn btn-gray" onClick="Competence_start({$aval['id']})" href="javascript:;" title="启用">启用</a>{else}
                 <a title="停用" onclick="Competence_close({$aval['id']})" href="javascript:;" class="btn button_btn btn-Dark-success">停用</a> {/if}
                <a title="删除" href="javascript:;" onclick="Competence_del({$aval['id']})" class="btn button_btn btn-danger">删除</a>
               
				</td>
			   </tr>
               {/foreach}								
		      </tbody>
	        </table>
     </div>
</div>
</body>
</html>
<script>
$(function(){
	$("#Competence_sort").click(function(){
		var option=$(this).find("option:selected").text();
		var value=$(this).val();
		if(value==0){
			  
			$("#sample_table tbody tr").show()
			}
			else{
		$("#sample_table tbody tr").hide().filter(":contains('"+(option)+"')").show();	
			}
		}).click();	
	});

/*******滚动条*******/
$("body").niceScroll({  
	cursorcolor:"#888888",  
	cursoropacitymax:1,  
	touchbehavior:false,  
	cursorwidth:"5px",  
	cursorborder:"0",  
	cursorborderradius:"5px"  
});
/*管理员-停用*/
function Competence_close(id){
	layer.confirm('确认要停用吗？',function(index){
		$.get('/admin/admin/stpadm',{id:id},function(data){
	 	if(data){
	 		window.location.reload();
	 	}	
	 },'json');
	});
}

/*管理员-启用*/
function Competence_start(id){
	layer.confirm('确认要启用吗？',function(index){
		$.get('/admin/admin/stadm',{id:id},function(data){
	 	if(data){
	 		window.location.reload();
	 	}	
	 },'json');
	});
}
/*管理员-删除*/
function Competence_del(id){
	layer.confirm('确认要删除吗？',function(index){
		$.get('/admin/admin/stadm',{id:id},function(data){
	 	if(data){
	 		window.location.reload();
	 	}	
	 },'json');
	});
}
/****复选框选中******/
$('table th input:checkbox').on('click' , function(){
					var that = this;
					$(this).closest('table').find('tr > td:first-child input:checkbox')
					.each(function(){
						this.checked = that.checked;
						$(this).closest('tr').toggleClass('selected');
					});
						
				});
</script>
