<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/admin/css/shop.css" type="text/css" rel="stylesheet" />
<link href="/admin/css/Sellerber.css" type="text/css"  rel="stylesheet" />
<link href="/admin/css/bkg_ui.css" type="text/css"  rel="stylesheet" />
<link href="/admin/font/css/font-awesome.min.css"  rel="stylesheet" type="text/css" />
<script src="/admin/js/jquery-1.9.1.min.js" type="text/javascript" ></script>
<script type="text/javascript" src="/admin/js/jquery.cookie.js"></script>
<script src="/admin/js/shopFrame.js" type="text/javascript"></script>
<script src="/admin/js/Sellerber.js" type="text/javascript"></script>
<script src="/admin/js/layer/layer.js" type="text/javascript"></script>
<script src="/admin/js/jquery.dataTables.min.js"></script>
<script src="/admin/js/jquery.dataTables.bootstrap.js"></script>
<title>管理员</title>
</head>
<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <script src="js/css3-mediaqueries.js"  type="text/javascript"></script>
  <![endif]-->
<body>
<div class="margin Competence_style" id="page_style">
   <div class="operation clearfix">

<span class="submenu"><a href="/admin/admin/s_addpwr"  class="btn button_btn bg-deep-blue" title="添加权限"><i class="fa  fa-edit"></i>&nbsp;添加权限</a></span>
   <div class="search  clearfix">
   <input name="" type="text"  class="form-control col-xs-8"/><button class="btn button_btn bg-deep-blue " onclick=""  type="button"><i class="fa  fa-search"></i>&nbsp;搜索</button>
</div>
</div>
<div class="compete_list">
       <table id="sample-table-1" class="table table_list table_striped table-bordered dataTable no-footer">
		 <thead>
			<tr>
			  <th class="center"><label><input type="checkbox" class="ace"><span class="lbl"></span></label></th>
			  <th>权限名称</th>
			  <th>roleid</th>
              <th>用户名称</th>
			  <th class="hidden-480">描述</th>             
			  <th class="hidden-480">操作</th>
             </tr>
		    </thead>
             <tbody>
			 	{foreach $powerinfo as $pk => $pval}
			  <tr>
				<td class="center"><label><input type="checkbox" class="ace"><span class="lbl"></span></label></td>
				<td>{$pval[0]['name']}</td>
				<td>{$pval[0]['role_id']}</td>
				<td class="hidden-480">
					{foreach $pval as $ppv}
						{$ppv['username']} &nbsp;

					{/foreach}
				</td>
				<td>{$pval[0]['remark']}</td>
				<td>
                        
                 <a title="删除" href="javascript:;" onclick="Competence_del({$pval[0]['role_id']})" class="btn button_btn btn-danger">删除</a>
				</td>
			   </tr>
               	{/foreach}									
		      </tbody>
	        </table>
     </div>
</div>

</body>
</html>
<script>
	/*权限删除*/
function Competence_del(id){
	layer.confirm('确认要删除吗？',{icon:0,},function(index){
		$.get('/admin/admin/delpwr',{id:id},function(data){
	 	if(data){
	 		window.location.reload();
	 	}
	 },'json');
	});
}
$('table th input:checkbox').on('click' , function(){
					var that = this;
					$(this).closest('table').find('tr > td:first-child input:checkbox')
					.each(function(){
						this.checked = that.checked;
						$(this).closest('tr').toggleClass('selected');
					});
						
				});
/*******滚动条*******/
$("body").niceScroll({  
	cursorcolor:"#888888",  
	cursoropacitymax:1,  
	touchbehavior:false,  
	cursorwidth:"5px",  
	cursorborder:"0",  
	cursorborderradius:"5px"  
});
</script>
